<div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
    <div nz-col class="gutter-row" [nzSpan]="14">
      <div class="inner-box">
        <h1>Listado de roles</h1>
      </div>
    </div>
    <div nz-col nzSpan="2"></div>
    <div nz-col class="gutter-row" [nzSpan]="6"><div class="inner-box">
      <div class="inner-box">
        <nz-space [nzSize]="'middle'">
          <button *nzSpaceItem nz-button nzType="primary" nzDanger>Exportar</button>
          <button *nzSpaceItem nz-button nzType="primary" (click)="showAdd()">Agregar</button>
         <!--  <button *nzSpaceItem nz-button nzType="default">Filtro</button> -->
        </nz-space>
      </div>
    </div>
</div>
<nz-table #basicTable
  nzTableLayout="fixed"
  [nzData]="dataTable"
  [nzPageSize]="15"
  [nzLoading]="isLoading"
  >
    <thead>
      <tr>
        <th>#</th>
        <th>Rol</th>
        <th>Acronimo</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{ data.id }}</td>
        <td>{{ data.name }}</td>
        <td>{{ data.acronym }}</td>
        <td>
          <a (click)="edit(data)">Editar</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a (click)="delete(data.id)">Borrar</a>
        </td>
      </tr>
    </tbody>
</nz-table>

<nz-modal
    [(nzVisible)]="isVisibleModal"
    [nzTitle]="modalTitle"
    nzCentered
    (nzOnCancel)="handleCancel()"
    (nzOnOk)="handleOk()"
>
    <ng-container *nzModalContent>
        <div nz-row class="row-comprobante-form">
            <div nz-col nzSpan="10">
                <label>Rol</label>
                <input nz-input [(ngModel)]="model['name']"/>
            </div>
            <div nz-col nzSpan="10">
                <label>Acronimo</label>
                <input nz-input [(ngModel)]="model['acronym']"/>
            </div>
        </div>
    </ng-container>
</nz-modal>

