<div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
    <div nz-col class="gutter-row" [nzSpan]="8">
      <div class="inner-box">
        <h1>Listado clientes</h1>
      </div>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="10"><div class="inner-box"></div></div>
    <div nz-col class="gutter-row" [nzSpan]="6"><div class="inner-box">
      <div class="inner-box">
        <nz-space [nzSize]="'middle'">
          <button *nzSpaceItem nz-button nzType="primary" nzDanger (click)="isConfirmed=true">Exportar</button>
          <button *nzSpaceItem nz-button nzType="primary" (click)=showAdd()>Agregar</button>
          <button *nzSpaceItem nz-button nzType="default" (click)="visibleFilter()">Filtro</button>

        </nz-space>
      </div>
    </div>
  </div>
  
<div nz-row style="padding: 10px" *ngIf="showFilter">
  <div style="margin-left: 40px; margin-right: 10px;" nz-col class="gutter-row" [nzSpan]="8">
    <div class="inner-box">
      <label>Nombre/Razón</label>
      <input nz-input (keyup)="filterBy('name', $event)">
    </div>
  </div>
  <!-- <div style="margin-left: 40px;" nz-col class="gutter-row" [nzSpan]="8">
    <div class="inner-box">
      <label>DNI/RUC</label>
      <input nz-input (keyup)="filterBy('document_number', $event)">
    </div>
  </div> -->
</div>
<nz-table #basicTable
  nzTableLayout="fixed"
  [nzData]="dataTable"
  [nzPageSize]="15"
  [nzLoading]="isLoading"
  >
    <thead>
      <tr>
        <th>#</th>
        <th>Nombre/Razón social</th>
        <th>Apellidos</th>
        <th>Tipo Doc.</th>
        <th>Número</th>
        <th>Correo</th>
        <th>Teléfono</th>
        <th>Tipo de cliente</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{ data.id }}</td>
        <td>{{ data.name }}</td>
        <td>{{ data.last_name }}</td>
        <td>{{ data.documentType }}</td>
        <td>{{ data.document_number }}</td>
        <td>{{ data.email }}</td>
        <td>{{ data.phone }}</td>
        <td>{{ data.clientType }}</td>
        <td>
          <a (click)="showEdit(data)">Editar</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a (click)=delete(data.id)>Borrar</a>
        </td>
      </tr>
    </tbody>
</nz-table>

<nz-modal
    [(nzVisible)]="isVisibleModal"
    nzTitle="Agregar cliente"
    [nzWidth]="800"
    nzCentered
    (nzOnCancel)="handleCancel()"
    (nzOnOk)="handleOk()"
>
  <ng-container *nzModalContent>
    <div nz-row class="row-form">
      <div nz-col nzSpan="10">
          <label>Tipo de documento</label>
          <nz-select
          nzPlaceHolder="Seleccione"
          (ngModelChange)="onSelectedDocument($event)"
          [(ngModel)]="selectedDocument"
          >
              <ng-container *ngFor="let o of documentTypeList">
                  <nz-option [nzValue]="o" [nzLabel]="o.name"></nz-option>
              </ng-container>
          </nz-select>
      </div>
      <div nz-col nzSpan="10">
        <label>Tipo de cliente</label>
        <nz-select
        nzPlaceHolder="Seleccione"
        (ngModelChange)="onSelectClientType($event)"
        [(ngModel)]="selectedClienteType"
        >
            <ng-container *ngFor="let o of clienteTypeList">
                <nz-option [nzValue]="o" [nzLabel]="o.name"></nz-option>
            </ng-container>
        </nz-select>
      </div>
    </div>
    <div nz-row class="row-form">
      <div nz-col nzSpan="10">
          <label>Correo</label>
          <input nz-input [(ngModel)]="model['email']"/>
      </div>
      <div nz-col nzSpan="8">
        <label>Teléfono</label>
        <input nz-input [(ngModel)]="model['phone']"/>
      </div>
    </div>
    <div nz-row class="row-form">
      <div nz-col nzSpan="6">
          <label>Nombre/Razón social</label>
          <input nz-input [(ngModel)]="model['name']"/>
      </div>
      <div nz-col nzSpan="6" *ngIf="selectedDocument.name == 'DNI' ? true: false ">
        <label>Apellidos</label>
        <input nz-input [(ngModel)]="model['last_name']"/>
      </div>
      <div nz-col nzSpan="8">
        <label>Número <span *ngIf="noRegister" class="alert-id">no registrado!</span></label>
        <nz-input-group nzSearch [nzAddOnAfter]="suffixButton">
          <input type="text" nz-input [(ngModel)]="model['document_number']" [placeholder]="selectedDocument.name == 'DNI' ? '0/8': '0/11'" />
        </nz-input-group>
        <ng-template #suffixButton>
          <button nz-button nzType="primary" nzSearch (click)="searchDniRuc()">{{searchLabel}}</button>
        </ng-template>
      </div>
  </div>
  </ng-container>
 
</nz-modal>

<nz-modal
    [(nzVisible)]="isConfirmed"
    nzCentered
    nzOkText="Aceptar"
    nzCancelText="Cerrar"
    (nzOnOk)="isConfirmed = false"
    (nzOnCancel)="isConfirmed = false"
    >
    <nz-result
      nzStatus="success"
      nzTitle="Descargar"
      nzSubTitle="Exportar archivo como ..."
    >
      <div nz-result-extra>
        <button nz-button nzType="primary" (click)="downloadPDF()">PDF</button>
        <button nz-button (click)="downloadExcel()">EXCEL</button>
      </div>
    </nz-result>
</nz-modal>