
<div nz-row class="card-header" nzJustify="start">
    <div nz-col nzSpan="3">
        <img src="./assets/img/logo.png">
    </div>
    <div nz-col nzSpan="4">
        <p>
            Perú, Lima
        </p>
        <p>
            {{currentUser.email}}
        </p>
    </div>

  </div>
<nz-card nzTitle="Nuevo comprobante">
    <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
        <div nz-col class="gutter-row" nzSpan="8">
            <div nz-row [nzGutter]="16">
                <label>Tipo de comprobante</label>
            </div> 
            <div nz-row [nzGutter]="16">

                <nz-select
                nzPlaceHolder="Seleccione comprobante"
                nzAllowClear
                [(ngModel)]="model['voucher_type_id']"
                >
                    <ng-container *ngFor="let o of voucherTypeList">
                        <nz-option [nzValue]="o.id" [nzLabel]="o.name"></nz-option>
                    </ng-container>
                </nz-select>
            </div>
        </div>
        <div nz-col class="gutter-row" nzSpan="8">
            <div nz-row [nzGutter]="16">
                <label>Tipo de operación</label>
            </div>
            <div nz-row [nzGutter]="16">

                <nz-select
                nzPlaceHolder="Seleccione operación"
                nzAllowClear
                [(ngModel)]="selectedOperation.id"
                >
                    <ng-container *ngFor="let o of operationTypeList">
                        <nz-option [nzValue]="o.id" [nzLabel]="o.description"></nz-option>
                    </ng-container>
                </nz-select>
            </div>
        </div>
        
        <div nz-col class="gutter-row" nzSpan="8">
            <div nz-row [nzGutter]="16">
                <label>Concepto y/o glosa</label>
            </div>
            <div nz-row [nzGutter]="16">
                <input nz-input [(ngModel)]="model['concept']" [disabled]="!showEdit"/>
            </div>
            <div nz-row [nzGutter]="16">
                <label nz-checkbox [(ngModel)]="showEdit">Modificar</label>
            </div>
        </div>
    </div>
    <div nz-row style="margin-top:25px" [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
        <div nz-col class="gutter-row" nzSpan="8">
            <div nz-row [nzGutter]="16" nzAlign="middle">
                <label>Cliente</label>
                <a (click)="isVisibleModal = true">[+ Nuevo cliente]</a>
            </div>
            <div nz-row [nzGutter]="16">

                <nz-select
                nzPlaceHolder="Buscar"
                nzAllowClear
                nzShowSearch
                nzServerSearch
                [(ngModel)]="selectedUser"
                (nzOnSearch)="onSearchCliente($event)"
            >
                <ng-container *ngFor="let o of clientList">
                <nz-option [nzValue]="o" [nzLabel]="o.fullName"></nz-option>
                </ng-container>
              </nz-select>
            </div>
        </div>
        <div nz-col class="gutter-row" nzSpan="8">
            <div nz-row [nzGutter]="16">
                <label>Vendedor</label>
            </div>
            <div nz-row [nzGutter]="16">

                <nz-select
                nzPlaceHolder="Seleccione vendedor"
                nzAllowClear
                [(ngModel)]="model['seller_id']"
            >
                    <ng-container *ngFor="let o of sellerList">
                    <nz-option [nzValue]="o.id" [nzLabel]="o.name"></nz-option>
                    </ng-container>
                </nz-select>
            </div>
        </div>
        <div nz-col class="gutter-row" nzSpan="4">
            <div nz-row [nzGutter]="16">
                <label>Fecha emisión</label>
            </div>
            <div nz-row [nzGutter]="16">
                <nz-date-picker [(ngModel)]="date" (ngModelChange)="getExchange($event)"></nz-date-picker>
            </div>
        </div>

        <div nz-col class="gutter-row" nzSpan="4">
            <div nz-row [nzGutter]="16">
                <label>Fecha Vcto.</label>
            </div>
            <div nz-row [nzGutter]="16">
                <nz-date-picker required [(ngModel)]="model['expiration_date']" (ngModelChange)="onChange($event)"></nz-date-picker>
            </div>
        </div>
    </div>
    <div nz-row style="margin-top:25px" [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
        <div nz-col class="gutter-row" nzSpan="6">
            <div nz-row [nzGutter]="16">
                <label>Método de pago</label>
            </div>            
            <div nz-row [nzGutter]="16">

                <nz-select
                nzPlaceHolder="Seleccione pago"
                nzAllowClear
                [(ngModel)]="model['payment_method_id']"
                >
                <ng-container *ngFor="let o of paymentMethodList">
                        <nz-option [nzValue]="o.id" [nzLabel]="o.description"></nz-option>
                    </ng-container>
                </nz-select>
            </div>
        </div>
        <div nz-col class="gutter-row" nzSpan="6">
            <div nz-row [nzGutter]="16">
                <label>Destino</label>
            </div>
            <div nz-row [nzGutter]="16">

                <nz-select
                nzPlaceHolder="Seleccione destino"
                nzAllowClear
                nzShowSearch
                nzServerSearch
                [(ngModel)]="model['payment_destination_id']"
                (nzOnSearch)="onDestinationSearch($event)"
                >
                    <ng-container *ngFor="let o of paymentDestinationList">
                        <nz-option [nzValue]="o.id" [nzLabel]="o.description"></nz-option>
                    </ng-container>
                </nz-select>
            </div>
        </div>
        
        <div nz-col class="gutter-row" nzSpan="6">

            <div nz-row [nzGutter]="16">
                <label>Moneda</label>
            </div>
            <div nz-row [nzGutter]="16">

                <nz-select
                nzPlaceHolder="Seleccione moneda"
                nzAllowClear
                [(ngModel)]="model['coin']"
                >
                    <ng-container *ngFor="let o of coinList">
                        <nz-option [nzValue]="o" [nzLabel]="o.name"></nz-option>
                    </ng-container>
                </nz-select>
            </div>
        </div>
        <div nz-col class="gutter-row" nzSpan="6">
            
            <div nz-row [nzGutter]="16">
                <label>Tasa de cambio</label>
            </div>
            <div nz-row [nzGutter]="16">
                <input nz-input [(ngModel)]="exchange_rate" [disabled]="true" />
            </div>
        </div>
    </div>
</nz-card>
<div nz-row class="row-comprobante-form">
    <button nz-button nzType="primary" (click)="navigateTo('ventas/agregar-productos')" nzDanger>Agregar producto</button>
</div>
<nz-table #basicTable
  [nzData]="dataTable"
  [nzPageSize]="5"
  >
    <thead>
      <tr>
        <th>Descripción</th>
        <th>Cantidad</th>
        <th>Igv</th>
        <th>Precio</th>
        <th>Total</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data; let i=index">
        <td>{{ data.description }}</td>
        <td>{{ data.amount}}</td>
        <td>{{ data.igv }}</td>
        <td>{{ data.price }}</td>
        <td>{{ data.total }}</td>
        <td>
          <a (click)="deleteProduct(i)">Borrar</a>
        </td>
      </tr>
    </tbody>
</nz-table>

<div nz-row *ngIf="dataTable.length > 0 && currentCoin" class="row-comprobante-form">
    <h2>Total a pagar: {{currentCoin}} {{total}}</h2>
</div>
<div nz-row class="row-comprobante-form">
    <nz-space [nzSize]="'middle'">
        <button *nzSpaceItem nz-button nzType="link" routerLink="/ventas/listado-comprobante">Cerrar</button>
        <ng-container *ngIf="dataTable.length > 0">
            <button *nzSpaceItem nz-button nzType="primary" (click)="save()">Generar</button>
        </ng-container>
      </nz-space>
</div>
<nz-modal
    [(nzVisible)]="isVisibleMiddle"
    nzTitle="Agregar productos/servicios"
    nzCentered
    nzWidth="400"
    (nzOnCancel)="handleCancelMiddle()"
    (nzOnOk)="handleOkMiddle()"
>
    <ng-container *nzModalContent>
        <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
            <div nz-col class="gutter-row" nzSpan="18">
                <label>Producto o servicio</label>
                <nz-select
                nzPlaceHolder="Seleccione producto/servicio"
                nzAllowClear
                nzShowSearch
                nzServerSearch
                [(ngModel)]="selectedProduct"
                (nzOnSearch)="onSearchProduct($event)"
                >
                    <ng-container *ngFor="let o of productList">
                        <nz-option [nzValue]="o" [nzLabel]="o.name"></nz-option>
                    </ng-container>
                </nz-select>
            </div>
            <div nz-col class="gutter-row" nzSpan="6">
                <label>IGV</label>
                <input nz-input (input)="productDetails['igv'] = $event" [disabled]="true"/>
            </div>
        </div>
    <div nz-row style="margin-top: 25px" [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
        <div nz-col class="gutter-row" nzSpan="8">
            <label>Cantidad</label>
            <input nz-input (input)="productDetails['amount'] = $event"/>
        </div>
        <div nz-col class="gutter-row" nzSpan="8">
            <label>Precio</label>
            <input nz-input (input)="productDetails['price'] = $event"/>
        </div>
    </div>
    </ng-container>
</nz-modal>
<nz-modal
    [(nzVisible)]="isConfirmed"
    nzCentered
    nzOkText="Ir al listado"
    nzCancelText="Nuevo comprobante"
    (nzOnOk)="navigateTo('ventas/listado-comprobante')"
    (nzOnCancel)="handleCancelConfirm()"
    >
    <nz-result
      nzStatus="success"
      nzTitle="Comprobante generado exitosamente!"
      nzSubTitle="Exportar archivo como ..."
    >
      <div nz-result-extra>
        <button nz-button nzType="primary" (click)="generarComprobante()">Imprimir</button>
      </div>
    </nz-result>
</nz-modal>
<nz-modal
    [(nzVisible)]="isVisibleModal"
    nzTitle="Agregar cliente"
    [nzWidth]="800"
    nzCentered
    (nzOnCancel)="handleAddClientCancel()"
    (nzOnOk)="handleAddClientOk()"
>
  <ng-container *nzModalContent>
    <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
      <div nz-col class="gutter-row"  nzSpan="10">
          <label>Tipo de documento</label>
          <nz-select
          nzPlaceHolder="Seleccione"
          (ngModelChange)="onSelectedDocument($event)"
          [(ngModel)]="selectedDocument"
          >
              <ng-container *ngFor="let o of documentTypeList">
                  <nz-option [nzValue]="o" [nzLabel]="o.name"></nz-option>
              </ng-container>
          </nz-select>
      </div>
      <div nz-col class="gutter-row"  nzSpan="10">
        <label>Tipo de cliente</label>
        <nz-select
        nzPlaceHolder="Seleccione"
        [(ngModel)]="selectedClienteType"
        >
            <ng-container *ngFor="let o of clienteTypeList">
                <nz-option [nzValue]="o" [nzLabel]="o.name"></nz-option>
            </ng-container>
        </nz-select>
      </div>
    </div>
    <div nz-row style="margin-top: 25px" [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
      <div nz-col class="gutter-row" nzSpan="10">
          <label>Correo</label>
          <input nz-input [(ngModel)]="clientModel['email']"/>
      </div>
      <div nz-col class="gutter-row" nzSpan="8">
        <label>Teléfono</label>
        <input nz-input [(ngModel)]="clientModel['phone']"/>
      </div>
    </div>
    <div nz-row style="margin-top: 25px" [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
      <div nz-col class="gutter-row" nzSpan="6">
          <label>Nombre/Razón social</label>
          <input nz-input [(ngModel)]="clientModel['name']"/>
      </div>
      <div nz-col class="gutter-row" nzSpan="6" *ngIf="selectedDocument.name == 'DNI' ? true: false ">
        <label>Apellidos</label>
        <input nz-input [(ngModel)]="clientModel['last_name']"/>
      </div>
      <div nz-col class="gutter-row" nzSpan="8">
        <label>Número <span *ngIf="noRegister" class="alert-id">no registrado!</span></label>
        <nz-input-group nzSearch [nzAddOnAfter]="suffixButton">
          <input type="text" nz-input [(ngModel)]="clientModel['document_number']" [placeholder]="selectedDocument.name == 'DNI' ? '0/8': '0/11'" />
        </nz-input-group>
        <ng-template #suffixButton>
          <button nz-button nzType="primary" nzSearch (click)="searchDniRuc()">{{searchLabel}}</button>
        </ng-template>
      </div>
  </div>
  </ng-container> 
</nz-modal>
