.card-header {
    margin-left: 15px;
    margin-bottom: 20px;
}
img {
    width: 100px;
    height: 100px;
}
nz-select {
    width: 100%;
  }
  nz-date-picker {
      width: 100%
  }
.row-comprobante-form {
    margin-bottom: 30px;
    margin-top: 20px;
}
label {
    margin: 10px;
}
a {
    color: gray
}

.alert-id {
    color: red
}