<div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
    <div nz-col class="gutter-row" [nzSpan]="14">
      <div class="inner-box">
        <h1>Listado devoluciones</h1>
      </div>
    </div>
    <div nz-col nzSpan="2"></div>
    <div nz-col class="gutter-row" [nzSpan]="6"><div class="inner-box">
      <div class="inner-box">
        <nz-space [nzSize]="'middle'">
          <button *nzSpaceItem nz-button nzType="primary" nzDanger (click)="export = true">Exportar</button>
          <button *nzSpaceItem nz-button nzType="primary" routerLink="/inventario/crear-devolucion">Agregar</button>
          <button *nzSpaceItem nz-button nzType="default" (click)="visibleFilter()">Filtro</button>
        </nz-space>
      </div>
    </div>
  </div>
  
<div nz-row style="padding: 10px" *ngIf="showFilter">
  <div style="margin-left: 40px; margin-right: 10px;" nz-col class="gutter-row" [nzSpan]="16">
    <div class="inner-box">
      <label>Usuario</label>
      <input nz-input (keyup)="filterBy('user.name', $event)">
    </div>
  </div>
</div>
  <nz-table #basicTable
    [nzData]="dataTable"
    [nzPageSize]="20"
    [nzLoading]="isLoading"
    >
      <thead>
        <tr>
          <th>#</th>
          <th>Fecha emisión</th>
          <th>Usuario</th>
          <th>Devolución</th>
          <th>Motivo</th>
          <th>Observación</th>
          <th>Acción</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td>{{ data.id }}</td>
          <td>{{ data.created_at }}</td>
          <td>{{ data.user.name }} {{ data.user.last_name}}</td>
          <td>{{ data.code }}</td>
          <td>{{ data.devolution_reason.name }}</td>
          <td>{{ data.observation }}</td>
          <td>
            <a (click)="delete(data.id)">Borrar</a>
          </td>
        </tr>
      </tbody>
  </nz-table>
  <nz-modal
    [(nzVisible)]="export"
    nzCentered
    (nzOnOk)="export = false"
    (nzOnCancel)="export = false"
    >
    <nz-result
      nzStatus="info"
      nzTitle="Exportar"
      nzSubTitle="descargar archivo como ..."
    >
      <div nz-result-extra>
        <button nz-button nzType="primary" (click)="downloadPdf()">PDF</button>
        <button nz-button (click)="downloadExcel()">EXCEL</button>
      </div>
    </nz-result>
</nz-modal>