<div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
    <div nz-col class="gutter-row" [nzSpan]="8">
      <div class="inner-box">
        <h1>Listado cotizaciones</h1>
      </div>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="10"><div class="inner-box"></div></div>
    <div nz-col class="gutter-row" [nzSpan]="6"><div class="inner-box">
      <div class="inner-box">
        <nz-space [nzSize]="'middle'">
          <button *nzSpaceItem nz-button nzType="primary" nzDanger (click)="export = true">Exportar</button>
          <button *nzSpaceItem nz-button nzType="primary" routerLink="/ventas/nueva-cotizacion">Agregar</button>
          <button *nzSpaceItem nz-button nzType="default" (click)="visibleFilter()">Filtro</button>
        </nz-space>
      </div>
    </div>
  </div>

<div nz-row style="padding: 10px" *ngIf="showFilter">
  <div style="margin-left: 40px; margin-right: 10px;" nz-col class="gutter-row" [nzSpan]="16">
    <div class="inner-box">
      <label>Nombre/Razón social</label>
      <input nz-input (keyup)="filterBy('client.name', $event)">
    </div>
  </div>
</div>
<nz-table #basicTable
nzTableLayout="fixed"
[nzData]="dataTable"
[nzPageSize]="15"
[nzLoading]="isLoading"
>
  <thead>
    <tr>
      <th>#</th>
      <th>Detalles</th>
      <th>Fecha emisión</th>
      <th>Nombre/Razón social</th>
      <th>Vendedor</th>
      <th>Moneda</th>
      <th>Acción</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>{{ data.id }}</td>
      <td>
        <a (click)="showDetails(data)">
          <i nz-icon nzType="search" nzTheme="outline"></i>
        </a>
      </td>
      <td>{{ data.created_at }}</td>
      <td>{{ data.client.name }}</td>
      <td>{{ data.seller.name }}</td>
      <td>{{ data.coin.name }}</td>
      <td>
        <a>Editar</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a (click)="delete(data.id)">Borrar</a>
      </td>
    </tr>
  </tbody>
</nz-table>

<nz-modal
    [(nzVisible)]="isVisibleDetails"
    nzTitle="Detalles de cotización"
    [nzWidth]="600"
    (nzOnCancel)="handleCancelDetails()"
    (nzOnOk)="handleOkDetails()"
    nzCentered
>
    <ng-container *nzModalContent>
        <div nz-row>
            <div nz-col nzSpan="12">
              <h3>Producto</h3>
            </div>
            <div nz-col nzSpan="4">
              <h3>Cantidad</h3>
            </div>
            <div nz-col nzSpan="6">
              <h3>Precio</h3>
          </div>
        </div>
        <hr>
    <div nz-row *ngFor="let s of cotizacionesDetails; let i=index">
        <div nz-col nzSpan="12">
            <h4>{{s.product.name}}</h4>
        </div>
        <div nz-col nzSpan="4">
            <h4>{{s.amount}}</h4>
        </div>
        <div nz-col nzSpan="6">
          <h4>{{s.price}} {{s.coin}}</h4>
        </div>
    </div>
    </ng-container>
</nz-modal>

<nz-modal
    [(nzVisible)]="export"
    nzCentered
    (nzOnOk)="export = false"
    (nzOnCancel)="export = false"
    >
    <nz-result
      nzStatus="info"
      nzTitle="Exportar"
      nzSubTitle="descargar archivo como ..."
    >
      <div nz-result-extra>
        <button nz-button nzType="primary" (click)="downloadPdf()">PDF</button>
        <button nz-button (click)="downloadExcel()">EXCEL</button>
      </div>
    </nz-result>
</nz-modal>
