<div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
    <div nz-col class="gutter-row" [nzSpan]="10">
      <div class="inner-box">
        <h1>Listado comisiones productos</h1>
      </div>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="6"><div class="inner-box"></div></div>
    <div nz-col class="gutter-row" [nzSpan]="6"><div class="inner-box">
      <div class="inner-box">
        <nz-space [nzSize]="'middle'">
          <button *nzSpaceItem nz-button nzType="primary" nzDanger (click)="export = true">Exportar</button>
          <button *nzSpaceItem nz-button nzType="primary" (click)="showAddModal()">Agregar</button>
        </nz-space>
      </div>
    </div>
  </div>
<nz-table #basicTable
nzTableLayout="fixed"
[nzData]="dataTable"
[nzPageSize]="15"
[nzLoading]="isLoading"
>
  <thead>
    <tr>
      <th>#</th>
      <th>Producto</th>
      <th>Tipo de comisión</th>
      <th>Comisión</th>
      <th>Acción</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>{{ data.id }}</td>
      <td>{{ data.product.name }}</td>
      <td>{{ data.commission_type }}</td>
      <td>{{ data.amount }}</td>
      <td>
        <a (click)="showModal(data)">Editar</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a (click)="delete(data.id)">Borrar</a>
      </td>
    </tr>
  </tbody>
</nz-table>

<nz-modal
    [(nzVisible)]="isVisibleModal"
    [nzTitle]="titleModal"
    nzCentered
    [nzWidth]="600"
    (nzOnCancel)="handleCancel()"
    (nzOnOk)="handleOk()"
>
    <ng-container *nzModalContent>
      <div nz-row class="row-form">
          <div nz-col nzSpan="10">
              <label>Producto</label>
              <nz-select 
                *ngIf="titleModal == 'Agregar nueva comisión'"
                nzAllowClear
                nzShowSearch
                nzServerSearch
                [(ngModel)]="selectedProduct"
                (nzOnSearch)="onSearch($event)"
              >
                <ng-container *ngFor="let o of productList">
                  <nz-option [nzLabel]="o.name" [nzValue]="o.id"></nz-option>
                </ng-container>
              </nz-select>
              <input *ngIf="titleModal == 'Editar comisión'" nz-input [(ngModel)]="product_name" [disabled]="true"/>
          </div>
          <div nz-col nzSpan="6">
              <label>Tipo de comisión</label>
              <nz-select
              nzPlaceHolder="Seleccione"
              (ngModelChange)="onSelectedComision($event)"
              [(ngModel)]="selectedComision">
                <ng-container *ngFor="let o of comisionTypes">
                  <nz-option [nzValue]="o" [nzLabel]="o"></nz-option>              
                </ng-container>
              </nz-select>
          </div>
          <div nz-col nzSpan="4">
              <label>Comisión</label>
              <input nz-input [(ngModel)]="amount"/>
          </div>
      </div>
    </ng-container>
</nz-modal>

<nz-modal
    [(nzVisible)]="export"
    nzCentered
    (nzOnOk)="export = false"
    (nzOnCancel)="export = false"
    >
    <nz-result
      nzStatus="info"
      nzTitle="Exportar"
      nzSubTitle="descargar archivo como ..."
    >
      <div nz-result-extra>
        <button nz-button nzType="primary" (click)="downloadPdf()">PDF</button>
        <button nz-button (click)="downloadExcel()">EXCEL</button>
      </div>
    </nz-result>
</nz-modal>