<div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
    <div nz-col class="gutter-row" [nzSpan]="14">
      <div class="inner-box">
        <h1>Listado reporte kardex</h1>
      </div>
    </div>
    <div nz-col nzSpan="2"></div>
    <div nz-col class="gutter-row" [nzSpan]="6"><div class="inner-box">
      <div class="inner-box">
        <nz-space [nzSize]="'middle'">
   <!--        <button *nzSpaceItem nz-button nzType="primary" (click)="handleAdd()">Agregar</button> -->
          <button *nzSpaceItem nz-button nzType="primary" nzDanger>Exportar</button>
          <button *nzSpaceItem nz-button nzType="default" (click)="handleFilter()">Filtro</button>
        </nz-space>
      </div>
    </div>
  </div>
  
<div nz-row style="padding: 10px" *ngIf="showFilter">
  <div style="margin-left: 40px; margin-right: 10px;" nz-col class="gutter-row" [nzSpan]="16">
    <div class="inner-box">
      <label>Número</label>
      <input nz-input (keyup)="filterBy('code', $event)">
    </div>
  </div>
</div>
  <nz-table #basicTable
    [nzData]="dataTable"
    [nzPageSize]="20"
    [nzLoading]="isLoading"
    >
      <thead>
        <tr>
          <th>#</th>
          <th>Fecha y hora transacción</th>
          <th>Tipo de transacción</th>
          <th>Número</th>
          <th>NV. asociada</th>
          <th>Fecha emisión</th>
          <th>Entrada</th>
          <th>Salida</th>
          <th>Saldo</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td>{{ data.id }}</td>
          <td>{{ data.created_at }}</td>
          <td>{{ data.reportableType }}</td>
          <td></td>
          <td></td>
          <td>{{ data.created_at }}</td>
          <td>{{ data.entradaValue }}</td>
          <td>{{ data.salidaValue }}</td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
  </nz-table>
  
<nz-modal
    [(nzVisible)]="isVisibleModal"
    [nzTitle]="modalTitle"
    nzCentered
    (nzOnCancel)="handleCancel()"
    (nzOnOk)="handleOk()"
>
    <ng-container *nzModalContent>
        <div nz-row class="row-comprobante-form">
            <div nz-col nzSpan="20">
                <label>Almacen</label>
                <input nz-input [(ngModel)]="model['description']"/>
            </div>
            <!-- <div nz-col nzSpan="10">
                <label>Descripción</label>
                <input nz-input [(ngModel)]="model['description']"/>
            </div> -->
        </div>
    </ng-container>
</nz-modal>
