<div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
  <div nz-col class="gutter-row" [nzSpan]="6">
    <div class="inner-box">
      <h1>Listado productos</h1>
    </div>
  </div>
  <div nz-col class="gutter-row" [nzSpan]="10"><div class="inner-box"></div></div>
  <div nz-col class="gutter-row" [nzSpan]="6"><div class="inner-box">
    <div class="inner-box">
      <nz-space [nzSize]="'middle'">
      </nz-space>
    </div>
  </div>
</div>
<div nz-row style="padding: 10px">
  <div nz-col class="gutter-row" [nzSpan]="2">
    <div class="inner-box">
      <label>C</label>
      <input nz-input (keyup)="filterBy('brand', $event)">
    </div>
  </div>
  <div nz-col class="gutter-row" [nzSpan]="2">
    <div class="inner-box">
      <label>P</label>
      <input nz-input (keyup)="filterBy('code', $event)">
    </div>
  </div>
  <div nz-col class="gutter-row" [nzSpan]="2">
    <div class="inner-box">
      <label>D</label>
      <input nz-input (keyup)="filterBy('supsec', $event)">
    </div>
  </div>
  <div style="margin-left: 40px; margin-right: 10px;" nz-col class="gutter-row" [nzSpan]="3">
    <div class="inner-box">
      <label>Alternante</label>
      <input nz-input (keyup)="filterBy('description', $event)">
    </div>
  </div>
  <div nz-col style="margin-left: 10px; margin-right: 10px;" class="gutter-row" [nzSpan]="3">
    <div class="inner-box">
      <label>Modelo</label>
      <input nz-input (keyup)="filterBy('model', $event)">
    </div>
  </div>
  <div nz-col style="margin-left: 10px; margin-right: 10px;" class="gutter-row" [nzSpan]="3">
    <div class="inner-box">
      <label>Diametro</label>
      <input nz-input (keyup)="filterBy('diametro', $event)">
    </div>
  </div>

  <div nz-col style="margin-left: 10px; margin-right: 10px;" class="gutter-row" [nzSpan]="3">
    <div class="inner-box">
      <label>Motor</label>
      <input nz-input (keyup)="filterBy('cmotor', $event)">
    </div>
  </div>
</div>
<nz-table #dynamicTable
  [nzScroll]="{ x: '900px' }"
  [nzSize]="'small'"
  nzTableLayout="fixed"
  [nzData]="dataTable"
  [nzLoading]="isLoading"
  style="margin-top: 10px"
  >
    <thead>
      <tr>
        <th>#</th>
        <th>Stock</th>
        <th>Acciones</th>
        <th>MARVEH</th>
        <th>CODPRO</th>
        <th>SUPSEC</th>
        <th>Nombre</th>
        <th>NUMSEC</th>
        <th>Alternante</th>
        <th>UM</th>
        <th>Categoría</th>
        <th>Modelo</th>
        <th>CMOTOR</th>
        <th>Cilindros</th>
        <th>Diametro</th>
        <th>NUMCIL</th>
      </tr>
    </thead>
    <tbody>
   		<ng-container *ngFor="let data of dynamicTable.data">
	      <tr>
	        <td>{{ data.id }}</td>
	        <td>
	          <a (click)="showStock(data)">
	            <i nz-icon nzType="search" nzTheme="outline"></i>
	          </a>
	        </td>
	        <td>
	          <a (click)="addToList(data)">Seleccionar</a>
	          <nz-divider nzType="vertical"></nz-divider>
	          <!-- <a>Agregar a compra</a> -->
	        </td>
	        <td>{{ data.brand }}</td>
	        <td>{{ data.code }}</td>
	        <td>{{ data.supsec }}</td>
	        <td>{{ data.name }}</td>
	        <td>{{ data.numsec }}</td>
	        <td>{{ data.description }}</td>
	        <td>{{ data.um }}</td>
	        <td>{{ data.category }}</td>
	        <td>{{ data.modelo }}</td>
	        <td>{{ data.cmotor }}</td>
	        <td>{{ data.cilindros }}</td>
	        <td>{{ data.diametro }}</td>
	        <td>{{ data.numcil }}</td>
	      </tr>

   		</ng-container>
    </tbody>
</nz-table>
<div nz-row style="padding-top: 20px">
  <div nz-col class="gutter-row">
    <div class="inner-box">
    	<h1>Productos seleccionados</h1>
    </div>
  </div>
</div>
<nz-table #basicTable
  [nzScroll]="{ x: '900px' }"
  [nzSize]="'small'"
  [nzData]="selectedProductsList"
  style="margin-top: 10px"
  >
    <thead>
      <tr>
        <th>Acciones</th>
        <th>MARVEH</th>
        <th>CODPRO</th>
        <th>SUPSEC</th>
        <th>Nombre</th>
        <th>NUMSEC</th>
        <th>Alternante</th>
        <th>UM</th>
        <th>Categoría</th>
        <th>Modelo</th>
        <th>CMOTOR</th>
        <th>Cilindros</th>
        <th>Diametro</th>
        <th>NUMCIL</th>
      </tr>
    </thead>
    <tbody>
   		<ng-container *ngFor="let data of basicTable.data; let i=index">
	      <tr>
	        <td>
	          <a (click)="remove(i)">Quitar</a>
	          <nz-divider nzType="vertical"></nz-divider>
	          <!-- <a>Agregar a compra</a> -->
	        </td>
	        <td>{{ data.brand }}</td>
	        <td>{{ data.code }}</td>
	        <td>{{ data.supsec }}</td>
	        <td>{{ data.name }}</td>
	        <td>{{ data.numsec }}</td>
	        <td>{{ data.description }}</td>
	        <td>{{ data.um }}</td>
	        <td>{{ data.category }}</td>
	        <td>{{ data.modelo }}</td>
	        <td>{{ data.cmotor }}</td>
	        <td>{{ data.cilindros }}</td>
	        <td>{{ data.diametro }}</td>
	        <td>{{ data.numcil }}</td>
	      </tr>

   		</ng-container>
    </tbody>
</nz-table>
<div nz-row class="row-comprobante-form">
    <nz-space [nzSize]="'middle'">
        <ng-container *ngIf="selectedProductsList.length > 0">
            <button *nzSpaceItem nz-button nzType="primary" (click)="navigateTo()">Guardar</button>
        </ng-container>
      </nz-space>
</div>
<nz-modal
    [(nzVisible)]="showModal"
    nzTitle="Detalles"
    nzCentered
    (nzOnOk)="addDetail()"
    (nzOnCancel)="handleCancel()"
>
  <ng-container *nzModalContent>
    <div nz-row class="row-form">
      <h3>Producto</h3>
    </div>
    <div nz-row class="row-form">
      <ul>
        <li>
          Código {{selectedFromList.code}}
        </li>
        <li>
          Nombre {{selectedFromList.description}} 
        </li>
      </ul>
    </div>
    <div nz-row class="row-form" style="padding-top: 15px">
      <div nz-col nzSpan="24">
        <nz-alert [nzType]="productLimit > 0 ? 'success': 'error'" nzMessage="Cantidad máxima de productos {{productLimit}}"></nz-alert>
      </div>
    </div>
    <div nz-row class="row-form" style="padding-top: 15px">
      <div nz-col nzSpan="10">
        <label>Cantidad</label>
        <input nz-input [(ngModel)]="selectedAmount"/>
      </div>
      <div nz-col nzSpan="10">
        <label>Precio</label>
        <input nz-input [(ngModel)]="selectedFromList['price']"/>
      </div>
    </div>
  </ng-container>
</nz-modal>

<nz-modal
    [(nzVisible)]="isVisibleStock"
    nzTitle="Stock de producto"
    (nzOnCancel)="handleCancelStock()"
    (nzOnOk)="handleOkStock()"
    nzCentered
>
    <ng-container *nzModalContent>

      <div *ngIf="stock.length > 0">
        <div nz-row>
            <div nz-col nzSpan="3">
              <h3>#</h3>
            </div>
            <div nz-col nzSpan="14">
              <h3>Tienda</h3>
            </div>
            <div nz-col nzSpan="7">
              <h3>Cantidad</h3>
          </div>
        </div>
        <hr>
        <div nz-row *ngFor="let s of stock; let i=index">
            <div nz-col nzSpan="3">
                <h3>{{i + 1}}</h3>
            </div>
            <div nz-col nzSpan="14">
                <h3>{{s.warehouse_name}}</h3>
            </div>
            <div nz-col nzSpan="7">
              <h3>{{s.stock_product}}</h3>
            </div>
        </div>
      </div>
      <div *ngIf="stock.length == 0">
        <nz-alert nzType="info" nzMessage="Sin producto en almacén"></nz-alert>

        <!-- <h3>Sin producto en inventario</h3> -->
      </div>
    </ng-container>
</nz-modal>