<div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
    <div nz-col class="gutter-row" [nzSpan]="14">
      <div class="inner-box">
        <h1>Listado ordenes de compras</h1>
      </div>
    </div>
    <div nz-col nzSpan="4"></div>
    <div nz-col class="gutter-row" [nzSpan]="6"><div class="inner-box">
      <div class="inner-box">
        <nz-space [nzSize]="'middle'">
          <button *nzSpaceItem nz-button nzType="primary" routerLink="/compras/crear-orden">Agregar</button>
          <button *nzSpaceItem nz-button nzType="default">Filtro</button>
        </nz-space>
      </div>
    </div>
  </div>
<div nz-row style="padding: 10px" *ngIf="showFilter">
  <div style="margin-left: 40px; margin-right: 10px;" nz-col class="gutter-row" [nzSpan]="16">
    <div class="inner-box">
      <label>Proveedor</label>
      <input nz-input (keyup)="filterBy('provider.name', $event)">
    </div>
  </div>
</div>
<nz-table #basicTable
  [nzData]="dataTable"
  [nzPageSize]="20"
  [nzLoading]="isLoading"
  >
    <thead>
      <tr>
        <th>#</th>
        <th>Fecha Emisión</th>
        <th>Fecha Vcto.</th>
        <th>Proveedor</th>
        <th>O. Compra</th>
        <th>Moneda</th>
        <th>Total</th>
        <th>Descargar</th>
        <th>Acción</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{ data.id }}</td>
        <td>{{ data.created_at }}</td>
        <td>{{ data.expiration_date }}</td>
        <td>{{ data.provider.name }}</td>
        <td> OC-{{ data.id }} </td>
        <td>{{ data.coin.name }}</td>
        <td>{{ data.total }}</td>
        <td>
          <a>PDF</a>
          <nz-divider nzType="vertical"></nz-divider>
        </td>
        <td>
          <a (click)="delete(data.id)">Borrar</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a (click)="delete(data.id)">Editar</a>
          <nz-divider nzType="horizontal"></nz-divider>
          <a (click)="generarCompra(data)">Generar compra</a>
        </td>
      </tr>
    </tbody>
</nz-table>
