<div nz-row class="card-header" nzJustify="start">
    <div nz-col nzSpan="3">
        <img src="./assets/img/logo.png">
    </div>
    <div nz-col nzSpan="4">
        <p>
            Perú, Lima
        </p>
        <p>
            {{currentUser.email}}
        </p>
    </div>

</div>

<nz-card nzTitle="Orden de Compra">
    <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
        <div nz-col class="gutter-row" nzSpan="12">
            <div nz-row [nzGutter]="16">
                <label>Proveedor</label>
            </div>
            <div nz-row [nzGutter]="16">

                <nz-select
                nzPlaceHolder="Seleccione proveedor"
                [(ngModel)]="selectedProvider"
                (nzOnSearch)="onSearchProvider($event)"
                >
                    <ng-container *ngFor="let o of providerList">
                    <nz-option [nzValue]="o" [nzLabel]="o.name"></nz-option>
                    </ng-container>
                </nz-select>
            </div>
        </div>

        <div nz-col class="gutter-row" nzSpan="4">
            <div nz-row [nzGutter]="16">
                <label>Fecha Emisión</label>
            </div>
            <div nz-row [nzGutter]="16">
                <nz-date-picker required [(ngModel)]="model['created_at']" (ngModelChange)="getExchange($event)"></nz-date-picker>
            </div>
        </div>

        <div nz-col class="gutter-row" nzSpan="4">
            <div nz-row [nzGutter]="16">
                <label>Fecha Vcto.</label>
            </div>
            <div nz-row [nzGutter]="16">
                <nz-date-picker required [(ngModel)]="model['expiration_date']"></nz-date-picker>
            </div>
        </div>

        <div nz-col class="gutter-row" nzSpan="4">
            <div nz-row [nzGutter]="16">
                <label>Moneda</label>
            </div>
            <div nz-row [nzGutter]="16">
                <nz-select
                nzPlaceHolder="Seleccione moneda"
                [(ngModel)]="model['coin']"
                >
                    <ng-container *ngFor="let o of coinList">
                        <nz-option [nzValue]="o" [nzLabel]="o.name"></nz-option>
                    </ng-container>
                </nz-select>
            </div>
        </div>
    </div>
    <div nz-row style="margin-top:25px" [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
        <div nz-col nzSpan="6">
           <div nz-row [nzGutter]="16">
	            <label>Método de pago</label>
            </div>
            <div nz-row [nzGutter]="16">

	            <nz-select
	            nzPlaceHolder="Seleccione pago"
	            nzAllowClear
	            nzShowSearch
	            nzServerSearch
	            [(ngModel)]="selectedPaymentMethod"
	            (nzOnSearch)="onSearchPayment($event)"
	        	>
		            <ng-container *ngFor="let o of paymentMethodList">
		            <nz-option [nzValue]="o" [nzLabel]="o.description"></nz-option>
		            </ng-container>
		        </nz-select>
		    </div>
        </div>

        <div nz-col class="gutter-row" nzSpan="6">
            <div nz-row [nzGutter]="16">
                <label>Tasa de cambio</label>
            </div>
            <div nz-row [nzGutter]="16">
                <input nz-input [(ngModel)]="exchange_rate" [disabled]="true" />
            </div>
        </div>
    </div>
</nz-card>

<div nz-row class="row-comprobante-form">
    <button nz-button nzType="primary" nzDanger (click)="navigateTo('compras/agregar-productos/1')">Agregar producto</button>
</div>
<nz-table #basicTable
  [nzData]="dataTable"
  [nzPageSize]="10"
  >
    <thead>
      <tr>
        <th>Descripción</th>
        <th>Cantidad</th>
        <th>Igv</th>
        <th>Precio</th>
        <th>Total</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data; let i=index">
        <td>{{ data.description }}</td>
        <td>{{ data.amount}}</td>
        <td>{{ data.igv }}</td>
        <td>{{ data.price }}</td>
        <td>{{ data.total }}</td>
        <td>
          <a (click)="delete(i)">Borrar</a>
        </td>
      </tr>
    </tbody>
</nz-table>

<div nz-row *ngIf="dataTable.length > 0 && currentCoin" class="row-comprobante-form">
    <h2>Total a pagar: {{currentCoin}} {{total}}</h2>
</div>
<div nz-row class="row-comprobante-form">
    <nz-space [nzSize]="'middle'">
        <button *nzSpaceItem nz-button nzType="link" routerLink="/compras/ordenes">Cerrar</button>
        <ng-container *ngIf="dataTable.length > 0">
            <button *nzSpaceItem nz-button nzType="primary" (click)="save()">Generar</button>
        </ng-container>
      </nz-space>
</div>
<nz-modal
    [(nzVisible)]="isConfirmed"
    nzCentered
    nzOkText="Ir al listado"
    nzCancelText="Nueva orden"
    (nzOnOk)="navigateTo('compras/ordenes')"
    (nzOnCancel)="handleCancelConfirm()"
    >
    <nz-result
      nzStatus="success"
      nzTitle="Compra generada exitosamente!"
      nzSubTitle="Exportar archivo como ..."
    >
      <div nz-result-extra>
        <button nz-button nzType="primary">PDF</button>
        <button nz-button>EXCEL</button>
      </div>
    </nz-result>
</nz-modal>