nz-table {
    width: 100%;
}
.row-form {
    margin-bottom: 30px;
    margin-top: 20px;
}
.row-form > div {
    margin-right: 30px;
    display: inline-block;
}
nz-select {
    min-width: 300px;
}
.row-form-bottom {
    margin-bottom: 10px;
    margin-top: 10px;
}
.row-form-bottom > div {
    margin-right: 30px;
    display: inline-block;
}
.filter-box-class {
    margin-left: 5px;
    margin-right: 5px;
}