<div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
  <div nz-col class="gutter-row" [nzSpan]="6">
    <div class="inner-box">
      <h1>Listado productos</h1>
    </div>
  </div>
  <div nz-col class="gutter-row" [nzSpan]="10"><div class="inner-box"></div></div>
  <div nz-col class="gutter-row" [nzSpan]="6"><div class="inner-box">
    <div class="inner-box">
      <nz-space [nzSize]="'middle'">
        <button *nzSpaceItem nz-button nzType="primary" nzDanger (click)="export = true">Exportar</button>
        <button *nzSpaceItem nz-button nzType="primary" (click)="showAddModal()">Agregar</button>
        <button *nzSpaceItem nz-button nzType="default" (click)="visibleFilter()">Filtro</button>
      </nz-space>
    </div>
  </div>
</div>
<div nz-row style="padding: 10px" *ngIf="showFilter">
  <div nz-col class="gutter-row" [nzSpan]="2">
    <div class="inner-box">
      <label>C</label>
      <input nz-input (keyup)="filterBy('brand', $event)">
    </div>
  </div>
  <div nz-col class="gutter-row" [nzSpan]="2">
    <div class="inner-box">
      <label>P</label>
      <input nz-input (keyup)="filterBy('code', $event)">
    </div>
  </div>
  <div nz-col class="gutter-row" [nzSpan]="2">
    <div class="inner-box">
      <label>D</label>
      <input nz-input (keyup)="filterBy('supsec', $event)">
    </div>
  </div>
  <div style="margin-left: 40px; margin-right: 10px;" nz-col class="gutter-row" [nzSpan]="3">
    <div class="inner-box">
      <label>Alternante</label>
      <input nz-input (keyup)="filterBy('description', $event)">
    </div>
  </div>
  <div nz-col style="margin-left: 10px; margin-right: 10px;" class="gutter-row" [nzSpan]="3">
    <div class="inner-box">
      <label>Modelo</label>
      <input nz-input (keyup)="filterBy('model', $event)">
    </div>
  </div>
  <div nz-col style="margin-left: 10px; margin-right: 10px;" class="gutter-row" [nzSpan]="3">
    <div class="inner-box">
      <label>Diametro</label>
      <input nz-input (keyup)="filterBy('diametro', $event)">
    </div>
  </div>

  <div nz-col style="margin-left: 10px; margin-right: 10px;" class="gutter-row" [nzSpan]="3">
    <div class="inner-box">
      <label>Motor</label>
      <input nz-input (keyup)="filterBy('cmotor', $event)">
    </div>
  </div>
</div>

<nz-table #basicTable
  [nzScroll]="{ x: '900px' }"
  [nzSize]="'small'"
  nzTableLayout="fixed"
  [nzData]="dataTable"
  [nzLoading]="isLoading"
  style="margin-top: 10px"
  >
    <thead>
      <tr>
        <th>#</th>
        <th>Stock</th>
        <th>Action</th>
        <th>MARVEH</th>
        <th>CODPRO</th>
        <th>SUPSEC</th>
        <th>Nombre</th>
        <th>NUMSEC</th>
        <th>Alternante</th>
        <th>UM</th>
        <th>Categoría</th>
        <th>Modelo</th>
        <th>CMOTOR</th>
        <th>Cilindros</th>
        <th>Diametro</th>
        <th>NUMCIL</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{ data.id }}</td>
        <td>
          <a (click)="showStock(data)">
            <i nz-icon nzType="search" nzTheme="outline"></i>
          </a>
        </td>
        <td>
          <a (click)="showModalEdit(data)">Editar</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a (click)="delete(data.id)">Delete</a>
        </td>
        <td>{{ data.brand }}</td>
        <td>{{ data.code }}</td>
        <td>{{ data.supsec }}</td>
        <td>{{ data.name }}</td>
        <td>{{ data.numsec }}</td>
        <td>{{ data.description }}</td>
        <td>{{ data.um }}</td>
        <td>{{ data.category }}</td>
        <td>{{ data.modelo }}</td>
        <td>{{ data.cmotor }}</td>
        <td>{{ data.cilindros }}</td>
        <td>{{ data.diametro }}</td>
        <td>{{ data.numcil }}</td>
      </tr>
    </tbody>
</nz-table>
<nz-modal
    [(nzVisible)]="isVisibleStock"
    nzTitle="Stock de producto"
    (nzOnCancel)="handleCancelStock()"
    (nzOnOk)="handleOkStock()"
    nzCentered
>
    <ng-container *nzModalContent>
        <div nz-row>
            <div nz-col nzSpan="3">
              <h3>#</h3>
            </div>
            <div nz-col nzSpan="14">
              <h3>Tienda</h3>
            </div>
            <div nz-col nzSpan="7">
              <h3>Cantidad</h3>
          </div>
        </div>
        <hr>
    <div nz-row *ngFor="let s of stock; let i=index">
        <div nz-col nzSpan="3">
            <h3>{{i + 1}}</h3>
        </div>
        <div nz-col nzSpan="14">
            <h3>{{s.warehouse_name}}</h3>
        </div>
        <div nz-col nzSpan="7">
          <h3>{{s.stock_product}}</h3>
        </div>
    </div>
    </ng-container>
</nz-modal>
<nz-modal
    [(nzVisible)]="isVisibleModalEditAdd"
    [nzTitle]="titleModal"
    [nzWidth]="800"
    nzCentered
    (nzOnOk)="addProduct()"
    (nzOnCancel)="handleCancel()"
>
  <ng-container *nzModalContent>      
    <div nz-row class="row-form">
      <div nz-col nzSpan="4">
          <label>CODPRO</label>
          <input nz-input [(ngModel)]="model['code']"/>
      </div>
      <div nz-col nzSpan="18">
        <label>Nombre</label>
        <input nz-input [(ngModel)]="model['name']"/>
      </div>
    </div>
    <div nz-row class="row-form">
      <div nz-col style="padding-right: 15px">
        <div nz-row>
          <label>MARVEH</label>
        </div>
        <div nz-row>
          <nz-select
          nzAllowClear
          nzShowSearch
          nzServerSearch
          [(ngModel)]="selectedMarca"
          (nzOnSearch)="onSearchMarca($event)"
          nzPlaceholder="Seleccione marca">
            <nz-option [nzValue]="o" [nzLabel]="o.name" *ngFor="let o of marcasList"></nz-option>
          </nz-select>
        </div>
      </div>
      <div nz-col>
        <div nz-row>
          <label>Categoría</label>
        </div>
        <div nz-row>
          <nz-select
          nzAllowClear
          nzShowSearch
          nzServerSearch
          [(ngModel)]="selectedCategoria"
          (nzOnSearch)="onSearchCategoria($event)"
          nzPlaceholder="Seleccione categoría">
            <nz-option [nzValue]="o" [nzLabel]="o.name" *ngFor="let o of categoriaList"></nz-option>
          </nz-select>
        </div>
      </div>
    </div>
    <div class="row-form">
      <div nz-col nzSpan="4">
        <h3>Attributos</h3>
      </div>
      <div nz-col nzSpan="4">
        <a (click)="numberOfDivAttr.push(1)">[+ Agregar]</a>
      </div>
    </div>
    <div class="row-form-bottom" *ngFor="let n of numberOfDivAttr; let i=index">
        <nz-input-group nzCompact>
          <nz-select
          (ngModelChange)="onSelectedAttr($event)"
          nzPlaceHolder="Seleccione atributo"
          [ngModel]="selectedAttr">
            <nz-option [nzValue]="o" [nzLabel]="o.name" *ngFor="let o of attrList"></nz-option>
          </nz-select>
          <input type="text" nz-input [disabled]="selectedAttrList[i] ? false : true" (input)="setValue(i ,$event)" placeholder="Valor" style="width: 200px;"/>
          <button (click)="removeAttr(i)" nz-button nz-tooltip nzTooltipTitle="Quitar" nzType="primary" nzDanger nzShape="circle">
            <i nz-icon nzType="delete" nzTheme="outline"></i>
          </button>
        </nz-input-group>
    </div>
  </ng-container>
 
</nz-modal>

<nz-modal
    [(nzVisible)]="export"
    nzCentered
    (nzOnOk)="export = false"
    (nzOnCancel)="export = false"
    >
    <nz-result
      nzStatus="info"
      nzTitle="Exportar"
      nzSubTitle="descargar archivo como ..."
    >
      <div nz-result-extra>
        <button nz-button nzType="primary" (click)="downloadPdf()">PDF</button>
        <button nz-button>EXCEL</button>
      </div>
    </nz-result>
</nz-modal>