<div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
  <div nz-col class="gutter-row" [nzSpan]="8">
    <div class="inner-box">
      <h1>Listado comprobantes</h1>
    </div>
  </div>
  <div nz-col class="gutter-row" [nzSpan]="10"><div class="inner-box"></div></div>
  <div nz-col class="gutter-row" [nzSpan]="6"><div class="inner-box">
    <div class="inner-box">
      <nz-space [nzSize]="'middle'">
        <button *nzSpaceItem nz-button nzType="primary" nzDanger (click)="export = true">Exportar</button>
        <button *nzSpaceItem nz-button nzType="primary" routerLink="/ventas/nuevo-comprobante">Agregar</button>
        <button *nzSpaceItem nz-button nzType="default" (click)="onBtnFilter()">Filtro</button>
      </nz-space>
    </div>
  </div>
</div>
<div nz-row style="padding: 10px" *ngIf="showFilter">
  <!-- <div nz-col style="margin-left: 10px; margin-right: 10px;" class="gutter-row" [nzSpan]="4">
    <div class="inner-box">
      <label>Fecha emisión</label>
        <nz-date-picker [(ngModel)]="date" (ngModelChange)="filterBy('created_at', $event)"></nz-date-picker>
    </div>
  </div> -->
  <div style="margin-left: 40px; margin-right: 10px;" nz-col class="gutter-row" [nzSpan]="7">
    <div class="inner-box">
      <label>Tipo Doc.</label>
      <input nz-input (keyup)="filterBy('voucher_type.name', $event)">
    </div>
  </div>
  <div nz-col style="margin-left: 10px; margin-right: 10px;" class="gutter-row" [nzSpan]="7">
    <div class="inner-box">
      <label>Nombre/Razón</label>
      <input nz-input (keyup)="filterBy('cliente.name', $event)">
    </div>
  </div>
</div>
<nz-table #basicTable
  [nzData]="dataTable"
  [nzPageSize]="20"
  [nzLoading]="isLoading"
  >
    <thead>
      <tr>
        <th>#</th>
        <th>Fecha Emisión</th>
        <th>Tipo Doc.</th>
        <th>Nombre / Razón social</th>
        <th>Number</th>
        <th>Mon</th>
        <th>Igv</th>
        <th>total</th>
        <th>T. Agravado</th>
        <th>T. Igv</th>
        <th>Fecha Vcto.</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{ data.id }}</td>
        <td>{{ data.formatCreatedAt }}</td>
        <td>{{ data.voucher}}</td>
        <td>{{ data.cliente }}</td>
        <td>{{ data.number }}</td>
        <td>{{ data.coinName }}</td>
        <td>{{ data.igv }}</td>
        <td>{{ data.total }}</td>
        <td>{{ data.total_gravado }}</td>
        <td>{{ data.total_igv }}</td>
        <td>{{ data.formatExpirationDate }}</td>
        <td>
          <a (click)="showModalDetails(data)">Guía</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a (click)="addNote(data.id)">Nota</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a (click)="delete(data.id)">Borrar</a>
          <nz-divider nzType="vertical"></nz-divider>
        </td>
      </tr>
    </tbody>
</nz-table>
<nz-modal
    [(nzVisible)]="export"
    nzCentered
    (nzOnOk)="export = false"
    (nzOnCancel)="export = false"
    >
    <nz-result
      nzStatus="info"
      nzTitle="Exportar"
      nzSubTitle="descargar archivo como ..."
    >
      <div nz-result-extra>
        <button nz-button nzType="primary" (click)="downloadPdf()">PDF</button>
        <button nz-button (click)="downloadExcel()">EXCEL</button>
      </div>
    </nz-result>
</nz-modal>