.table-operations {
    margin-bottom: 16px;
    margin-left: 15px;
  }

  .example-input .ant-input {
    width: 200px;
    margin: 0 8px 8px 0;
  }
.row-comprobante-form {
    margin-bottom: 30px;
    margin-top: 20px;
}
.row-comprobante-form > div {
    margin-right: 30px;
}
nz-select {
  width: 100%;
}