<div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
    <div nz-col class="gutter-row" [nzSpan]="14">
      <div class="inner-box">
        <h1>Listado de compras</h1>
      </div>
    </div>
    <div nz-col nzSpan="2"></div>
    <div nz-col class="gutter-row" [nzSpan]="6"><div class="inner-box">
      <div class="inner-box">
        <nz-space [nzSize]="'middle'">
          <button *nzSpaceItem nz-button nzType="primary" nzDanger (click)="export = true">Exportar</button>
          <button *nzSpaceItem nz-button nzType="primary" routerLink="/compras/nueva-compra">Agregar</button>
          <button *nzSpaceItem nz-button nzType="default" (click)="visibleFilter()">Filtro</button>
        </nz-space>
      </div>
    </div>
  </div>
<div nz-row style="padding: 10px" *ngIf="showFilter">
  <div style="margin-left: 40px; margin-right: 10px;" nz-col class="gutter-row" [nzSpan]="16">
    <div class="inner-box">
      <label>Proveedor</label>
      <input nz-input (keyup)="filterBy('provider.name', $event)">
    </div>
  </div>
</div>
  <nz-table #basicTable
    [nzData]="dataTable"
    [nzPageSize]="20"
    [nzLoading]="isLoading"
    >
      <thead>
        <tr>
          <th>#</th>
          <th>Productos</th>
          <th>Fecha Emisión</th>
          <th>Tipo Doc.</th>
          <th>Proveedor</th>
          <th>Número</th>
          <th>Moneda</th>
          <th>Acción</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td>{{ data.id }}</td>
          <td>
            <a (click)="showProduct(data)">
              <i nz-icon nzType="search" nzTheme="outline"></i>
            </a>
          </td>
          <td>{{ data.createdAt }}</td>
          <td>{{ data.voucher_type.name }}</td>
          <td>{{ data.provider.name }}</td>
          <td>{{ data.serie }}-{{ data.number }}</td>
          <td>{{ data.coin.name }}</td>
          <td>
            <a (click)="delete(data.id)">Borrar</a>
            <nz-divider nzType="vertical"></nz-divider>
          </td>
        </tr>
      </tbody>
  </nz-table>
  
  <nz-modal
  [(nzVisible)]="isVisibleProduct"
  nzTitle="Productos"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
  nzCentered
>
  <ng-container *nzModalContent>
      <div nz-row>
          <div nz-col nzSpan="3">
            <h3>#</h3>
          </div>
          <div nz-col nzSpan="14">
            <h3>Producto</h3>
          </div>
          <div nz-col nzSpan="7">
            <h3>Cantidad</h3>
        </div>
      </div>
      <hr>
  <div nz-row *ngFor="let s of productsDetails; let i=index">
      <div nz-col nzSpan="3">
          <h4>{{i + 1}}</h4>
      </div>
      <div nz-col nzSpan="14">
          <h4>{{s.product.name}}</h4>
      </div>
      <div nz-col nzSpan="7">
        <h4>{{s.amount}}</h4>
      </div>
  </div>
  </ng-container>
</nz-modal>