<div nz-row class="card-header" nzJustify="start">
    <div nz-col nzSpan="3">
        <img src="./assets/img/logo.png">
    </div>
    <div nz-col nzSpan="4">
        <p>
            Perú, Lima
        </p>
        <p>
            {{currentUser.email}}
        </p>
    </div>

</div>

<nz-card nzTitle="Nueva compra">
    <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
        <div nz-col class="gutter-row" nzSpan="12">
            <div nz-row [nzGutter]="16">
                <label>Tipo de comprobante</label>
            </div> 
            <div nz-row [nzGutter]="16">
                <nz-select
                nzPlaceHolder="Seleccione comprobante"
                [(ngModel)]="selectedVoucher"
                >
                    <ng-container *ngFor="let o of voucherTypeList">
                        <nz-option [nzValue]="o.id" [nzLabel]="o.name"></nz-option>
                    </ng-container>
                </nz-select>
            </div>
        </div>
        <div nz-col class="gutter-row" nzSpan="12">
            <div nz-row [nzGutter]="16">
                <label>Proveedor</label>
            </div>
            <div nz-row [nzGutter]="16">

                <nz-select
                nzPlaceHolder="Seleccione proveedor"
                [(ngModel)]="selectedProvider"
                (nzOnSearch)="onSearchProvider($event)"
                >
                    <ng-container *ngFor="let o of providerList">
                    <nz-option [nzValue]="o" [nzLabel]="o.name"></nz-option>
                    </ng-container>
                </nz-select>
            </div>
        </div>
    </div>
    <div nz-row style="margin-top:25px" [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
        <div nz-col class="gutter-row" nzSpan="8">
            <div nz-row [nzGutter]="16">
                <label>Moneda</label>
            </div>
            <div nz-row [nzGutter]="16">
                <nz-select
                nzPlaceHolder="Seleccione moneda"
                nzAllowClear
                [(ngModel)]="model['coin']"
                >
                    <ng-container *ngFor="let o of coinList">
                        <nz-option [nzValue]="o" [nzLabel]="o.name"></nz-option>
                    </ng-container>
                </nz-select>
            </div>
        </div>
        <div nz-col class="gutter-row" nzSpan="8">
            <div nz-row [nzGutter]="16">
                <label>Tipo de operación</label>
            </div>
            <div nz-row [nzGutter]="16">
                <nz-select
                    nzPlaceHolder="Seleccione comprobante"
                    nzAllowClear
                    [(ngModel)]="selectedOperation"
                    >
                    <ng-container *ngFor="let o of operationTypeList">
                        <nz-option [nzValue]="o.id" [nzLabel]="o.name"></nz-option>
                    </ng-container>
                </nz-select>  
            </div>
        </div>
        <div nz-col class="gutter-row" nzSpan="8">
            <div nz-row [nzGutter]="16">
                <label>Concepto y/o glosa</label>
            </div>
            <div nz-row [nzGutter]="16">
                <input nz-input [(ngModel)]="model['observation']" [disabled]="!showEdit"/>
            </div>
            <div nz-row [nzGutter]="16">
                <label nz-checkbox [(ngModel)]="showEdit">Modificar</label>
            </div>
        </div>
    </div>
    <div nz-row style="margin-top:25px" [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
        <div nz-col class="gutter-row" nzSpan="6">
            <div nz-row [nzGutter]="16">
                <label>Fecha emisión</label>
            </div>
            <div nz-row [nzGutter]="16">
                <nz-date-picker [(ngModel)]="date"></nz-date-picker>
            </div>
        </div>
        <div nz-col class="gutter-row" nzSpan="6">
            <div nz-row [nzGutter]="16">
                <label>Fecha Vcto.</label>
            </div>
            <div nz-row [nzGutter]="16">
                <nz-date-picker required [(ngModel)]="model['expiration_date']"></nz-date-picker>
            </div>
        </div>
        <div nz-col class="gutter-row" nzSpan="6">
            <div nz-row [nzGutter]="16">
                <label>Fecha entrega</label>
            </div>
            <div nz-row [nzGutter]="16">
                <nz-date-picker required [(ngModel)]="model['delivery_date']"></nz-date-picker>
            </div>
        </div>

        <div nz-col class="gutter-row" nzSpan="6">
            <div nz-row [nzGutter]="16">
                <label>Tasa de cambio</label>
            </div>
            <div nz-row [nzGutter]="16">
                <input nz-input [(ngModel)]="exchange_rate" [disabled]="true" />
            </div>
        </div>
    </div>

    <div nz-row style="margin-top:25px" [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
        <div nz-col class="gutter-row" nzSpan="5">
            <div nz-row [nzGutter]="16">
                <label>Serie</label>
            </div>
            <div nz-row [nzGutter]="16">
                <input nz-input [(ngModel)]="serie"/>
            </div>
        </div>
        <div nz-col class="gutter-row" nzSpan="5">
            <div nz-row [nzGutter]="16">
                <label>Número</label>
            </div>
            <div nz-row [nzGutter]="16">
                <input nz-input [(ngModel)]="serie_number"/>
            </div>
        </div>
    </div>
    <div style="padding-top: 25px">
        <label nz-checkbox [(ngModel)]="showPayments">¿Desea agregar pagos a esta compra?</label>
        <label nz-checkbox [(ngModel)]="showClient">¿Desea agregar el cliente a esta compra?</label>
    </div>
    <div nz-row class="row-comprobante-form" *ngIf="showClient">
        <div nz-col nzSpan="10">
            <label>Cliente</label>
            <nz-select
            nzPlaceHolder="Seleccione cliente"
            nzAllowClear
            nzShowSearch
            nzServerSearch
            [(ngModel)]="selectedClient"
            (nzOnSearch)="onSearchCliente($event)"
        >
            <ng-container *ngFor="let o of clientList">
            <nz-option [nzValue]="o" [nzLabel]="o.name"></nz-option>
            </ng-container>
        </nz-select>
        </div>
    </div>
    <div nz-row class="row-comprobante-form" *ngIf="showPayments">
        <div nz-col nzSpan="6">
            <label>Método de pago</label>
            <nz-select
            nzPlaceHolder="Seleccione pago"
            nzAllowClear
            nzShowSearch
            nzServerSearch
            [(ngModel)]="selectedPaymentMethod"
            (nzOnSearch)="onSearchCliente($event)"
        >
            <ng-container *ngFor="let o of paymentMethodList">
            <nz-option [nzValue]="o" [nzLabel]="o.description"></nz-option>
            </ng-container>
        </nz-select>
        </div>
        <div nz-col nzSpan="6">
            <label>Desde</label>
            <nz-select
            nzPlaceHolder="Seleccione destino"
            nzAllowClear
            nzShowSearch
            nzServerSearch
            [(ngModel)]="selectedDestination"
            (nzOnSearch)="onSearchCliente($event)"
        >
            <ng-container *ngFor="let o of paymentDestinationList">
            <nz-option [nzValue]="o" [nzLabel]="o.description"></nz-option>
            </ng-container>
        </nz-select>
        </div>
        <div nz-col nzSpan="4">
            <label>Monto</label>
            <input nz-input>
        </div>
    </div>
</nz-card>

<div nz-row class="row-comprobante-form">
    <button nz-button nzType="primary" nzDanger (click)="navigateTo('compras/agregar-productos')">Agregar producto</button>
</div>

<nz-table #basicTable
  [nzData]="dataTable"
  [nzPageSize]="10"
  >
    <thead>
      <tr>
        <th>Descripción</th>
        <th>Cantidad</th>
        <th>Igv</th>
        <th>Precio</th>
        <th>Total</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data; let i=index">
        <td>{{ data.description }}</td>
        <td>{{ data.amount}}</td>
        <td>{{ data.igv }}</td>
        <td>{{ data.purchase_price }}</td>
        <td>{{ data.total }}</td>
        <td>
          <a (click)="deleteProduct(i)">Borrar</a>
        </td>
      </tr>
    </tbody>
</nz-table>

<div nz-row *ngIf="dataTable.length > 0 && currentCoin" class="row-comprobante-form">
    <h2>Total a pagar: {{currentCoin}} {{total}}</h2>
</div>
<div nz-row class="row-comprobante-form">
    <nz-space [nzSize]="'middle'">
        <button *nzSpaceItem nz-button nzType="link" routerLink="/compras/listado">Cerrar</button>
        <ng-container *ngIf="dataTable.length > 0">
            <button *nzSpaceItem nz-button nzType="primary" (click)="save()">Generar</button>
        </ng-container>
      </nz-space>
</div>

<nz-modal
    [(nzVisible)]="modalProduct"
    nzTitle="Agregar productos/servicios"
    nzCentered
    (nzOnCancel)="handleCancelMiddle()"
    (nzOnOk)="handleOkMiddle()"
>
    <ng-container *nzModalContent>
        <div nz-row class="row-comprobante-form">
            <div nz-col nzSpan="14">
                <label>Producto o servicio</label>
                <nz-select
                nzPlaceHolder="Seleccione producto/servicio"
                nzAllowClear
                nzShowSearch
                nzServerSearch
                [(ngModel)]="selectedProduct"
                (nzOnSearch)="onSearchProduct($event)"
                >
                    <ng-container *ngFor="let o of productList">
                        <nz-option [nzValue]="o" [nzLabel]="o.name"></nz-option>
                    </ng-container>
                </nz-select>
            </div>
            <div nz-col nzSpan="6">
                <label>IGV</label>
                <input nz-input (input)="productDetails['igv'] = $event" [disabled]="true"/>
            </div>
        </div>
    <div nz-row class="row-comprobante-form">
        <div nz-col nzSpan="8">
            <label>Cantidad</label>
            <input nz-input (input)="productDetails['amount'] = $event"/>
        </div>
        <div nz-col nzSpan="8">
            <label>Precio</label>
            <input nz-input (input)="productDetails['price'] = $event"/>
        </div>
    </div>
    </ng-container>
</nz-modal>
<nz-modal
    [(nzVisible)]="isConfirmed"
    nzCentered
    nzOkText="Ir al listado"
    nzCancelText="Nueva compra"
    (nzOnOk)="navigateTo('compras/listado')"
    (nzOnCancel)="handleCancelConfirm()"
    >
    <nz-result
      nzStatus="success"
      nzTitle="Compra generada exitosamente!"
      nzSubTitle="Exportar archivo como ..."
    >
      <div nz-result-extra>
        <button nz-button nzType="primary">PDF</button>
        <button nz-button>EXCEL</button>
      </div>
    </nz-result>
</nz-modal>