<div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
    <div nz-col class="gutter-row" [nzSpan]="14">
      <div class="inner-box">
        <h1>Listado de proveedores</h1>
      </div>
    </div>
    <div nz-col nzSpan="2"></div>
    <div nz-col class="gutter-row" [nzSpan]="6"><div class="inner-box">
      <div class="inner-box">
        <nz-space [nzSize]="'middle'">
          <button *nzSpaceItem nz-button nzType="primary" nzDanger>Exportar</button>
          <button *nzSpaceItem nz-button nzType="primary" (click)="handleAdd()">Agregar</button>
          <button *nzSpaceItem nz-button nzType="default">Filtro</button>
        </nz-space>
      </div>
    </div>
</div>

<nz-table #basicTable
    [nzData]="dataTable"
    [nzPageSize]="20"
    [nzLoading]="isLoading"
>
  <thead>
    <tr>
      <th>#</th>
      <th>Nombre/Razón social</th>
      <th>Número documento</th>
      <th>Condición de residencia</th>
      <th>Estado</th>
      <th>Acción</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>{{ data.id }}</td>
      <td>{{ data.name }}</td>
      <td>{{ data.document_number }}</td>
      <td>{{ data.residence_condition }}</td>
      <td>{{ data.status }}</td>
      <td>
        <a (click)="delete(data.id)">Borrar</a>
        <nz-divider nzType="vertical"></nz-divider>
      </td>
    </tr>
  </tbody>
</nz-table>

<nz-modal
    [(nzVisible)]="isVisibleModal"
    nzTitle="Agregar proveedor"
    [nzWidth]="800"
    nzCentered
    (nzOnCancel)="handleCancel()"
    (nzOnOk)="handleOk()"
>
  <ng-container *nzModalContent>
    <div nz-row class="row-form">
      <div nz-col nzSpan="10">
        <div>
          <label>Tipo de documento</label>
        </div>
          <nz-select
          nzPlaceHolder="Seleccione"
          (ngModelChange)="onSelectedDocument($event)"
          [(ngModel)]="selectedDocument"
          >
              <ng-container *ngFor="let o of documentTypeList">
                  <nz-option [nzValue]="o" [nzLabel]="o.name"></nz-option>
              </ng-container>
          </nz-select>
      </div>
      <div nz-col nzSpan="10">
        <label>Número <span *ngIf="noRegister" class="alert-id">no registrado!</span></label>
        <nz-input-group nzSearch [nzAddOnAfter]="suffixButton">
          <input type="text" nz-input [(ngModel)]="model['document_number']" [placeholder]="selectedDocument.name == 'DNI' ? '0/8': '0/11'" />
        </nz-input-group>
        <ng-template #suffixButton>
          <button nz-button nzType="primary" nzSearch (click)="searchDniRuc()">{{searchLabel}}</button>
        </ng-template>
      </div>
    </div>
    <div nz-row class="row-form">
      <div nz-col nzSpan="10">
          <label>Nombre/Razón social</label>
          <input nz-input [(ngModel)]="model['name']"/>
      </div>
      <div nz-col nzSpan="10">
          <label>Dirección</label>
          <input nz-input [(ngModel)]="model['address']"/>
      </div>
      <div nz-col nzSpan="10" *ngIf="selectedDocument.name == 'DNI' ? true: false ">
        <label>Apellidos</label>
        <input nz-input [(ngModel)]="model['last_name']"/>
      </div>
    </div>
    <div nz-row class="row-form">
        <div nz-col nzSpan="6">
          <label>Correo</label>
          <input nz-input [(ngModel)]="model['email']"/>
        </div>
        <div nz-col nzSpan="6">
          <label>Teléfono</label>
          <input nz-input [(ngModel)]="model['phone']"/>
        </div>
      <div nz-col nzSpan="6">
        <label>Tipo de cliente</label>
        <nz-select
        nzPlaceHolder="Seleccione"
        [(ngModel)]="selectedClienteType"
        >
            <ng-container *ngFor="let o of clienteTypeList">
                <nz-option [nzValue]="o" [nzLabel]="o.name"></nz-option>
            </ng-container>
        </nz-select>
      </div>
    </div>
    <div nz-row class="row-form" *ngIf="showStatus">
      <div nz-col nzSpan="10">
          <label>Estado del contribuyente</label>
          <nz-alert nzType="success" nzMessage="ACTIVO"></nz-alert>

      </div>
      <div nz-col nzSpan="10">
          <label>Condición del contribuyente</label>
          <nz-alert nzType="success" nzMessage="HABIDO"></nz-alert>
      </div>
    </div>
  </ng-container>
 
</nz-modal>