
<div nz-row class="card-header" nzJustify="start">
    <div nz-col nzSpan="3">
        <img src="./assets/img/logo.png">
    </div>
    <div nz-col nzSpan="4">
        <p>
            Perú, Lima
        </p>
        <p>
            {{currentUser.email}}
        </p>
    </div>
</div>
<nz-card nzTitle="Nueva cotización">
    
    <div nz-row class="row-comprobante-form">
        <div nz-col nzSpan="8">
            <label>Cliente</label>
            <nz-select
            nzPlaceHolder="Seleccione Clientes"
            nzAllowClear
            nzShowSearch
            nzServerSearch
            [(ngModel)]="selectedUser"
            (nzOnSearch)="onSearchCliente($event)"
          >
            <ng-container *ngFor="let o of clientList">
              <nz-option [nzValue]="o" [nzLabel]="o.fullName"></nz-option>
            </ng-container>
          </nz-select>
        </div>
        
        <div nz-col nzSpan="5">
            <label>Vendedor</label>
            <nz-select
            nzPlaceHolder="Seleccione moneda"
            nzAllowClear
            [(ngModel)]="model['seller_id']"
            >
            <ng-container *ngFor="let o of sellerList">
                    <nz-option [nzValue]="o.id" [nzLabel]="o.name"></nz-option>
                </ng-container>
            </nz-select>
        </div>
        <div nz-col nzSpan="4">
            <label>Fecha emisión</label>
            <nz-date-picker [(ngModel)]="date" (ngModelChange)="getExchange($event)"></nz-date-picker>
        </div>
        
        <div nz-col nzSpan="3">
            <label>Tasa cambio</label>
            <input nz-input type="number" [(ngModel)]="exchange_rate" [disabled]="true">
        </div>
    </div>
    <div nz-row class="row-comprobante-form">
        <div nz-col nzSpan="5">
            <label>Método de pago</label>
            <nz-select
            nzPlaceHolder="Seleccione pago"
            nzAllowClear
            [(ngModel)]="model['payment_method_id']"
            >
            <ng-container *ngFor="let o of paymentMethodList">
                    <nz-option [nzValue]="o.id" [nzLabel]="o.description"></nz-option>
                </ng-container>
            </nz-select>
        </div>
        <div nz-col nzSpan="5">
            <label>Número de cuenta</label>
            <input type="text" nz-input [(ngModel)]="model['account_number']">
        </div>
        <div nz-col nzSpan="5">
            <label>Moneda</label>
            <nz-select
            nzPlaceHolder="Seleccione moneda"
            nzAllowClear
            [(ngModel)]="model['coin']"
            >
            <ng-container *ngFor="let o of coinList">
                    <nz-option [nzValue]="o" [nzLabel]="o.name"></nz-option>
                </ng-container>
            </nz-select>
        </div>
    </div>
    <div nz-row class="row-comprobante-form">
        
        <div nz-col nzSpan="5">
            <label>Destino</label>
            <nz-select
            nzPlaceHolder="Seleccione pago"
            nzAllowClear
            [(ngModel)]="model['payment_destination_id']"
            >
            <ng-container *ngFor="let o of paymentDestinationList">
                    <nz-option [nzValue]="o.id" [nzLabel]="o.description"></nz-option>
                </ng-container>
            </nz-select>
        </div>
        
        <div nz-col nzSpan="8">
            <label>Dirección de envío</label>
            <input nz-input [(ngModel)]="model['shipping_address']">
        </div>
        
        <div nz-col nzSpan="4">
            <label>Tiempo de válidez</label>
            <input nz-input [(ngModel)]="model['validity_time']">
        </div>
        
        <div nz-col nzSpan="4">
            <label>Tiempo de entrega</label>
            <input nz-input [(ngModel)]="model['delivery_time']">
        </div>
    </div>
</nz-card>
<div nz-row class="row-comprobante-form">
    <button nz-button nzType="primary" nzDanger (click)="isVisibleMiddle = true">Agregar producto</button>
</div>
<nz-table #basicTable
  [nzData]="dataTable"
  [nzPageSize]="10"
  >
    <thead>
      <tr>
        <th>Descripción</th>
        <th>Cantidad</th>
        <th>Igv</th>
        <th>Precio unitario</th>
        <th>Total</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data; let i=index">
        <td>{{ data.description }}</td>
        <td>{{ data.amount}}</td>
        <td>{{ data.igv }}</td>
        <td>{{ data.price }}</td>
        <td>{{ data.total }}</td>
        <td>
          <a (click)="deleteProduct(i)">Delete</a>
        </td>
      </tr>
    </tbody>
</nz-table>
<div nz-row *ngIf="dataTable.length > 0 && currentCoin" class="row-comprobante-form">
    <h2>Total a pagar: {{currentCoin}} {{total}}</h2>
</div>
<div nz-row class="row-comprobante-form">
    <nz-space [nzSize]="'middle'">
        <button *nzSpaceItem nz-button nzType="link">Cerrar</button>
        <ng-container *ngIf="dataTable.length > 0">
            <button *nzSpaceItem nz-button nzType="primary" (click)="save()">Generar</button>
        </ng-container>
      </nz-space>
</div>
<nz-modal
    [(nzVisible)]="isVisibleMiddle"
    nzTitle="Agregar productos/servicios"
    nzCentered
    (nzOnCancel)="handleCancelMiddle()"
    (nzOnOk)="handleOkMiddle()"
>
    <ng-container *nzModalContent>
        <div nz-row class="row-comprobante-form">
            <div nz-col nzSpan="14">
                <label>Producto o servicio</label>
                <nz-select
                nzPlaceHolder="Seleccione producto/servicio"
                nzAllowClear
                nzShowSearch
                nzServerSearch
                [(ngModel)]="selectedProduct"
                (nzOnSearch)="onSearchProduct($event)"
                >
                    <ng-container *ngFor="let o of productList">
                        <nz-option [nzValue]="o" [nzLabel]="o.name"></nz-option>
                    </ng-container>
                </nz-select>
            </div>
            <div nz-col nzSpan="6">
                <label>IGV</label>
                <input nz-input (input)="productDetails['igv'] = $event" [disabled]="true"/>
            </div>
        </div>
    <div nz-row class="row-comprobante-form">
        <div nz-col nzSpan="6">
            <label>Cantidad</label>
            <input nz-input (input)="productDetails['amount'] = $event"/>
        </div>
        <div nz-col nzSpan="6">
            <label>Precio</label>
            <input nz-input (input)="productDetails['price'] = $event"/>
        </div>
    </div>
    </ng-container>
</nz-modal>
<nz-modal
    [(nzVisible)]="isConfirmed"
    nzCentered
    nzOkText="Ir al listado"
    nzCancelText="Nueva cotización"
    (nzOnOk)="navigateTo()"
    (nzOnCancel)="handleCancelConfirm()"
    >
    <nz-result
      nzStatus="success"
      nzTitle="Cotización generada exitosamente!"
      nzSubTitle="Exportar archivo como ..."
    >
      <div nz-result-extra>
        <button nz-button nzType="primary">PDF</button>
        <button nz-button>EXCEL</button>
      </div>
    </nz-result>
</nz-modal>