
<div nz-row class="card-header" nzJustify="start">
    <div nz-col nzSpan="3">
        <img src="./assets/img/logo.png">
    </div>
    <div nz-col nzSpan="4">
        <p>
            Perú, Lima
        </p>
        <p>
            {{currentUser.email}}
        </p>
    </div>

  </div>
<nz-card nzTitle="Nota de crédito">
    <div nz-row class="row-comprobante-form">
        <div nz-col nzSpan="10">
            <label>Tipo nota de crédito</label>
            <nz-select
                nzPlaceHolder="Seleccione tipo nota"
                nzAllowClear
                [(ngModel)]="details['type_of_credit_note_id']"
            >
                <ng-container *ngFor="let o of noteList">
                    <nz-option [nzValue]="o.id" [nzLabel]="o.name"></nz-option>
                </ng-container>
            </nz-select>
        </div>
        <div nz-col nzSpan="10">
            <label>Tipo de comprobante</label>
            <nz-select
                nzPlaceHolder="Seleccione tipo nota"
                nzAllowClear
                [(ngModel)]="details['voucher_type_note_id']"
            >
                <ng-container *ngFor="let o of voucherList">
                    <nz-option [nzValue]="o.id" [nzLabel]="o.name"></nz-option>
                </ng-container>
            </nz-select>
        </div>
    </div>

    <div nz-row class="row-comprobante-form">
        <div nz-col nzSpan="10">
            <label>Cliente</label>
            <input nz-input [disabled]="true" [(ngModel)]="bill['client']">
        </div>
        <div nz-col nzSpan="4">
            <label>Moneda</label>
            <input nz-input [disabled]="true" [(ngModel)]="bill['coin']">
        </div>
        <div nz-col nzSpan="4">
            <label>Fecha emisión</label>
            <nz-date-picker [(ngModel)]="bill['created_at']"></nz-date-picker>
        </div>
    </div>
    <div nz-row class="row-comprobante-form">

        <div nz-col nzSpan="10">
            <label>Descripción</label>
            <input nz-input [(ngModel)]="details['description']">
        </div>
        <div nz-col nzSpan="4">
            <label>Orden compra</label>
            <input nz-input [(ngModel)]="details['purchase_order']">
        </div>
        <div nz-col nzSpan="3">
            <label>Tasa de cambio</label>
            <input nz-input [disabled]="true" [(ngModel)]="bill['exchange_rate']"/>
        </div>
    </div>
</nz-card>
<div nz-row class="row-comprobante-form">
    <button nz-button nzType="primary" nzDanger (click)="isVisibleMiddle=true">Agregar producto</button>
</div>
<nz-table #basicTable
  [nzData]="dataTable"
  [nzPageSize]="10"
  >
    <thead>
      <tr>
        <th>Descripción</th>
        <th>Cantidad</th>
        <th>Igv</th>
        <th>Precio unitario</th>
        <th>Total</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data; let i=index">
        <td>{{ data.product.name }}</td>
        <td>{{ data.amount}}</td>
        <td>{{ data.igv }}</td>
        <td>{{ data.price }}</td>
        <td>{{ data.purchase_price }}</td>
        <td>
          <a>Borrar</a>
        </td>
      </tr>
    </tbody>
</nz-table>
<div nz-row class="row-comprobante-form">
    <nz-space [nzSize]="'middle'">
        <button *nzSpaceItem nz-button nzType="link" routerLink="/ventas/listado-comprobante">Cerrar</button>
        <ng-container *ngIf="dataTable.length > 0">
            <button *nzSpaceItem nz-button nzType="primary" (click)="addNote()">Generar</button>
        </ng-container>
      </nz-space>
</div>
<nz-modal
    [(nzVisible)]="isVisibleMiddle"
    nzTitle="Agregar productos/servicios"
    nzCentered
    (nzOnCancel)="isVisibleMiddle = false"
    (nzOnOk)="handleOkMiddle()"
>
    <ng-container *nzModalContent>
        <div nz-row class="row-comprobante-form">
            <div nz-col nzSpan="14">
                <label>Producto o servicio</label>
                <nz-select
                nzPlaceHolder="Seleccione producto/servicio"
                nzAllowClear
                nzShowSearch
                nzServerSearch
                [(ngModel)]="selectedProduct"
                (nzOnSearch)="onSearchProduct($event)"
                >
                    <ng-container *ngFor="let o of productList">
                        <nz-option [nzValue]="o" [nzLabel]="o.name"></nz-option>
                    </ng-container>
                </nz-select>
            </div>
            <div nz-col nzSpan="6">
                <label>IGV</label>
                <input nz-input (input)="productDetails['igv'] = $event" [disabled]="true"/>
            </div>
        </div>
    <div nz-row class="row-comprobante-form">
        <div nz-col nzSpan="6">
            <label>Cantidad</label>
            <input nz-input (input)="productDetails['amount'] = $event"/>
        </div>
        <div nz-col nzSpan="6">
            <label>Precio</label>
            <input nz-input (input)="productDetails['price'] = $event"/>
        </div>
        <div nz-col nzSpan="6">
            <label>Total</label>
            <input nz-input (input)="productDetails['total'] = $event" [disabled]="true" />
        </div>
    </div>
    </ng-container>
</nz-modal>