<div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
    <div nz-col class="gutter-row" [nzSpan]="14">
      <div class="inner-box">
        <h1>Listado almacén</h1>
      </div>
    </div>
    <div nz-col nzSpan="2"></div>
    <div nz-col class="gutter-row" [nzSpan]="6"><div class="inner-box">
      <div class="inner-box">
        <nz-space [nzSize]="'middle'">
          <button *nzSpaceItem nz-button nzType="primary" (click)="handleAdd()">Agregar</button>
          <button *nzSpaceItem nz-button nzType="default" (click)="handleFilter()">Filtro</button>
        </nz-space>
      </div>
    </div>
  </div>
  
<div nz-row style="padding: 10px" *ngIf="showFilter">
  <div style="margin-left: 40px; margin-right: 10px;" nz-col class="gutter-row" [nzSpan]="16">
    <div class="inner-box">
      <label>Establecimiento</label>
      <input nz-input (keyup)="filterBy('name', $event)">
    </div>
  </div>
</div>
  <nz-table #basicTable
    [nzData]="dataTable"
    [nzPageSize]="20"
    [nzLoading]="isLoading"
    >
      <thead>
        <tr>
          <th>#</th>
          <th>Almacén</th>
          <th>Establecimiento</th>
          <th>Acción</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td>{{ data.id }}</td>
          <td>{{ data.description }}</td>
          <td>{{ data.branchOffice }}</td>
          <td>
            <a (click)="edit(data)">Editar</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a (click)="delete(data.id)">Borrar</a>
          </td>
        </tr>
      </tbody>
  </nz-table>
  
<nz-modal
    [(nzVisible)]="isVisibleModal"
    [nzTitle]="modalTitle"
    nzCentered
    (nzOnCancel)="handleCancel()"
    (nzOnOk)="handleOk()"
>
    <ng-container *nzModalContent>
        <div nz-row class="row-comprobante-form">
            <div nz-col nzSpan="20">
                <label>Almacen</label>
                <input nz-input [(ngModel)]="model['description']"/>
            </div>
            <!-- <div nz-col nzSpan="10">
                <label>Descripción</label>
                <input nz-input [(ngModel)]="model['description']"/>
            </div> -->
        </div>
    </ng-container>
</nz-modal>