<div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
    <div nz-col class="gutter-row" [nzSpan]="14">
      <div class="inner-box">
        <h1>Listado reporte inventario</h1>
      </div>
    </div>
    <div nz-col nzSpan="2"></div>
    <div nz-col class="gutter-row" [nzSpan]="6"><div class="inner-box">
      <div class="inner-box">
        <nz-space [nzSize]="'middle'">
   <!--        <button *nzSpaceItem nz-button nzType="primary" (click)="handleAdd()">Agregar</button> -->
          <button *nzSpaceItem nz-button nzType="primary" nzDanger>Exportar</button>
          <button *nzSpaceItem nz-button nzType="default" (click)="handleFilter()">Filtro</button>
        </nz-space>
      </div>
    </div>
  </div>
  
<div nz-row style="padding: 10px" *ngIf="showFilter">
  <div nz-col class="gutter-row" [nzSpan]="10">
    <div class="inner-box">
      <label>Descripción</label>
      <input nz-input (keyup)="filterBy('description', $event)">
    </div>
  </div>
  <div nz-col class="gutter-row " style="margin-left: 40px;" [nzSpan]="10">
    <div class="inner-box">
      <label>Categoría</label>
      <input nz-input (keyup)="filterBy('category.name', $event)">
    </div>
  </div>
</div>
  <nz-table #basicTable
    [nzData]="dataTable"
    [nzPageSize]="20"
    [nzLoading]="isLoading"
    >
      <thead>
        <tr>
          <th>#</th>
          <th>Descripción</th>
          <th>Categoría</th>
          <th>Inventario actual</th>
          <th>Precio de venta</th>
          <th>Costo</th>
          <th>Almacén</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td>{{ data.id }}</td>
          <td>{{ data.description }}</td>
          <td>{{ data.category }}</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
  </nz-table>