
  nz-header {
    background: #666666;
  }
  nz-footer {
    background: #666666;
    color: rgb(102, 102, 102);
  }
  nz-footer {
    background: #666666;
    color: #fff;
    line-height: 1.5;
  }

button {
    background-color: #666666;
    min-width: 300px;
    min-height: 50px;
    color: #fff;
    border: 1px solid grey;
    font-size: 20px;
    padding: 10px 10px 10px 10px;
  }
button:hover {
    background-color: #ffd600;
    min-width: 300px;
    min-height: 50px;
    color: #666666;
    border: 1px solid grey;
    font-size: 20px;
    padding: 10px 10px 10px 10px;
  }
  input,
  textarea {
      padding: 10px 12px 10px 12px;
      border: 1px solid grey;
      border-radius: 2px;
      min-width: 300px;
      margin-bottom: 5px;
      margin-top: 2px;
      min-height: 40px;
      box-sizing: border-box;
      color: #2C3E50;
      font-size: 18px;
      font-weight: normal;
      letter-spacing: 1px
  }
  
  input:focus,
  textarea:focus {
      -moz-box-shadow: none !important;
      -webkit-box-shadow: none !important;
      box-shadow: none !important;
      border: 1px solid #304FFE;
      outline-width: 0
  }

  nz-sider {
    background: #fdd835;
    color: #fff;
    line-height: 120px;
  }
  nz-content {
    background: #212121;
    padding: 50px;
    color: rgb(0, 0, 0);
    min-height: 120px;
    line-height: 120px;
  }
  nz-layout {
    margin-bottom: 48px;
    height: 100%;
  }

  nz-layout:last-child {
    margin: 0;
  }
  :host {
    text-align: center;
  }
  .image {
    width: 100%;
    height: 100%;
    padding: 5px;
}
.logo {
  width: 220px;
  height: 150px;
}
form {
  margin: 0 auto;
}