<nz-layout>
    <nz-sider class="layout-letf"
    [nzBreakpoint]="'sm'"
    [nzCollapsedWidth]="0"
    nzWidth="50%"
    >
    <img src="./assets/img/illustration.png" class="image">
    </nz-sider>
    <nz-layout>
      <nz-header></nz-header>
      <nz-content nz-row nzAlign="middle" nzJustify="center">
        <div nz-col nzSpan="24">
          <img src="./assets/img/logo.png" class="logo">
        </div>
        <div nz-col nzSpan="24">
                <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
                    <h1 style="color: #fff;">Inicia sesión</h1>
                    <nz-form-item>
                      <nz-form-control nzErrorTip="Por favor, ingrese un usuario!">
                        <nz-input-group nzPrefixIcon="user">
                          <input type="text" nz-input formControlName="username" placeholder="Usuario" />
                        </nz-input-group>
                      </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                      <nz-form-control nzErrorTip="Por favor, ingrese su contraseña!">
                        <nz-input-group nzPrefixIcon="lock">
                          <input type="password" nz-input formControlName="password" placeholder="Contraseña" />
                        </nz-input-group>
                      </nz-form-control>
                    </nz-form-item>
                    <div nz-row class="login-form-margin">
                      <div nz-col [nzSpan]="12">
                      </div>
                    </div>
        
                    <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">Iniciar sesión</button>
                </form>
        </div>
      </nz-content>
      <nz-footer>Grupo Sudamérica ©{{currentYear}}</nz-footer>
    </nz-layout>
  </nz-layout>