<nz-layout class="app-layout">
    <nz-sider class="menu-sidebar"
              nzCollapsible
              nzWidth="256px"
              nzBreakpoint="md"
              [(nzCollapsed)]="isCollapsed"
              [nzTrigger]="null">
      <div class="sidebar-logo">
        <!-- <a href="https://ng.ant.design/" target="_blank"> -->
          <img src="./assets/img/logo.png" alt="logo">
          <h1>Grupo Sudamérica</h1>
        <!-- </a> -->
      </div>
      <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
        <ng-container
          *ngTemplateOutlet="recursiveList; context:{ $implicit: menuConfig }"
        ></ng-container>

        <ng-template #recursiveList let-list>
          <ng-container *ngFor="let element of list">
            
            <li
              *ngIf="!element.children"
              nz-menu-item
            >
              <i nz-icon [nzType]="element.icon" *ngIf="element.icon"></i>
              <span><a [routerLink]="element.path">{{ element.label }}</a></span>
            </li>
            <li
              *ngIf="element.children"
              nz-submenu
              [nzTitle]="element.label"
              [nzIcon]="element.icon"
              [nzPaddingLeft]="24"
            >
              <ul>
                <ng-container *ngTemplateOutlet="recursiveList; context: { $implicit: element.children }"></ng-container>
              </ul>
            </li>
          </ng-container>

        </ng-template>
      </ul>
    </nz-sider>
    <nz-layout class="right-layout">
      <nz-header>
        <div class="app-header">
            <ul nz-menu nzTheme="light" nzMode="horizontal" class="header-menu">
                <li nz-menu-item nzSelected>
                  <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
                    <i class="trigger"
                      nz-icon
                      [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
                    ></i>
                </span>
                </li>
                <!-- <li nz-menu-item style="position: 'left'"><i nz-icon nzType="user" nzTheme="outline"></i>{{currentUser.email}}</li> -->
            </ul>
        </div>
      </nz-header>
      <nz-content>
        <div class="inner-content">
            <router-outlet></router-outlet>
        </div>
      </nz-content>
      <nz-footer>Grupo Sudamérica ©{{currentYear}}</nz-footer>
    </nz-layout>
</nz-layout>