<div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
    <div nz-col class="gutter-row" [nzSpan]="8">
      <div class="inner-box">
        <h1>Listado marcas</h1>
      </div>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="10"><div class="inner-box"></div></div>
    <div nz-col class="gutter-row" [nzSpan]="6"><div class="inner-box">
      <div class="inner-box">
        <nz-space [nzSize]="'middle'">
          <button *nzSpaceItem nz-button nzType="primary" nzDanger (click)="export = true">Exportar</button>
          <button *nzSpaceItem nz-button nzType="primary" (click)="showModalAddEdit('add')">Agregar</button>
          <button *nzSpaceItem nz-button nzType="default" (click)="visibleFilter()">Filtro</button>
        </nz-space>
      </div>
    </div>
  </div>

<div nz-row style="padding: 10px" *ngIf="showFilter">
  <div style="margin-left: 40px; margin-right: 10px;" nz-col class="gutter-row" [nzSpan]="8">
    <div class="inner-box">
      <label>Nombre</label>
      <input nz-input (keyup)="filterBy('name', $event)">
    </div>
  </div>
  <div style="margin-left: 40px;" nz-col class="gutter-row" [nzSpan]="8">
    <div class="inner-box">
      <label>Descripción</label>
      <input nz-input (keyup)="filterBy('description', $event)">
    </div>
  </div>
</div>
<nz-table #basicTable
  nzTableLayout="fixed"
  [nzData]="dataTable"
  [nzPageSize]="15"
  [nzLoading]="isLoading"
  >
    <thead>
      <tr>
        <th>#</th>
        <th>Descripción</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{ data.id }}</td>
        <td>{{ data.description }}</td>
        <td>
          <a (click)="showModalAddEdit('edit', data)">Editar</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a>Borrar</a>
        </td>
      </tr>
    </tbody>
</nz-table>
<nz-modal
    [(nzVisible)]="export"
    nzCentered
    (nzOnOk)="export = false"
    (nzOnCancel)="export = false"
    >
    <nz-result
      nzStatus="info"
      nzTitle="Exportar"
      nzSubTitle="descargar archivo como ..."
    >
      <div nz-result-extra>
        <button nz-button nzType="primary" (click)="downloadPdf()">PDF</button>
        <button nz-button (click)="downloadExcel()">EXCEL</button>
      </div>
    </nz-result>
</nz-modal>

<nz-modal
    [(nzVisible)]="isVisibleModal"
    [nzTitle]="modalTitle"
    nzCentered
    (nzOnCancel)="handleCancel()"
    (nzOnOk)="handleOk()"
>
    <ng-container *nzModalContent>
        <div nz-row class="row-comprobante-form">
            <div nz-col nzSpan="10">
                <label>Nombre</label>
                <input nz-input [(ngModel)]="model['name']"/>
            </div>
            <div nz-col nzSpan="10">
                <label>Descripción</label>
                <input nz-input [(ngModel)]="model['description']"/>
            </div>
        </div>
    </ng-container>
</nz-modal>