<div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
    <div nz-col class="gutter-row" [nzSpan]="14">
      <div class="inner-box">
        <h1>Listado traslados</h1>
      </div>
    </div>
    <div nz-col nzSpan="2"></div>
    <div nz-col class="gutter-row" [nzSpan]="6"><div class="inner-box">
      <div class="inner-box">
        <nz-space [nzSize]="'middle'">
          <button *nzSpaceItem nz-button nzType="primary" nzDanger>Exportar</button>
          <button *nzSpaceItem nz-button nzType="default">Filtro</button>
        </nz-space>
      </div>
    </div>
  </div>
  
<div nz-row style="padding: 10px">
  <div style="margin-left: 40px; margin-right: 10px;" nz-col class="gutter-row" [nzSpan]="16">
    <!-- <div class="inner-box">
      <label>Establecimiento</label>
      <input nz-input>
    </div> -->
  </div>
</div>
  <nz-table #basicTable
    [nzData]="dataTable"
    [nzPageSize]="20"
    [nzLoading]="isLoading"
    >
      <thead>
        <tr>
          <th>#</th>
          <th>Fecha</th>
          <th>Almacen inicial</th>
          <th>Almacen destino</th>
          <th>Detalle</th>
          <th>Cantidad total productos</th>
          <th>Acción</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td>{{ data.id }}</td>
          <td>{{ data.created_at }}</td>
          <td>{{ data.origen }}</td>
          <td>{{ data.destino }}</td>
          <td>
	          <a (click)="showDetails(data)">
	            <i nz-icon nzType="search" nzTheme="outline"></i>
	          </a>
          </td>
          <td>{{ data.total }}</td>
          <td>
            <nz-divider nzType="vertical"></nz-divider>
            <a (click)="delete(data.id)">Borrar</a>
          </td>
        </tr>
      </tbody>
  </nz-table>

<nz-modal
    [(nzVisible)]="isVisibleDetail"
    nzTitle="Detalle del traslado"
    (nzOnCancel)="handleCancel()"
    (nzOnOk)="handleOk()"
    nzCentered
>
    <ng-container *nzModalContent>
        <div nz-row>
            <div nz-col nzSpan="3">
              <h3>#</h3>
            </div>
            <div nz-col nzSpan="14">
              <h3>Producto</h3>
            </div>
            <div nz-col nzSpan="7">
              <h3>Cantidad</h3>
          </div>
        </div>
        <hr>
    <div nz-row *ngFor="let s of detailsList; let i=index">
        <div nz-col nzSpan="3">
            <h3>{{i + 1}}</h3>
        </div>
        <div nz-col nzSpan="14">
            <h3>{{s.product.name}}</h3>
        </div>
        <div nz-col nzSpan="7">
          <h3>{{s.amount}}</h3>
        </div>
    </div>
    </ng-container>
</nz-modal>
