
<div nz-row class="card-header" nzJustify="start">
    <div nz-col nzSpan="3">
        <img src="./assets/img/logo.png">
    </div>
    <div nz-col nzSpan="4">
        <p>
            Perú, Lima
        </p>
        <p>
            {{currentUser.email}}
        </p>
    </div>

  </div>
<nz-card nzTitle="Guía de remisión">
    <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
        <div nz-col class="gutter-row" nzSpan="8">
            <div nz-row [nzGutter]="16" nzAlign="middle">
                <label>Cliente</label>
            </div>
            <div nz-row [nzGutter]="16">
                <input nz-input [(ngModel)]="model['client']" [disabled]="true"/>
            </div>
        </div>
        <div nz-col class="gutter-row" nzSpan="4">
            <div nz-row [nzGutter]="16">
                <label>Fecha emisión</label>
            </div>
            <div nz-row [nzGutter]="16">
                <nz-date-picker [(ngModel)]="model['created_at']"></nz-date-picker>
            </div>
        </div>

        <div nz-col class="gutter-row" nzSpan="4">
            <div nz-row [nzGutter]="16">
                <label>Fecha de traslado</label>
            </div>
            <div nz-row [nzGutter]="16">
                <nz-date-picker [(ngModel)]="model['expiration_date']"></nz-date-picker>
            </div>
        </div>
    </div>
</nz-card>
<div nz-row class="row-comprobante-form">
    <button nz-button nzType="primary" nzDanger>Agregar producto</button>
</div>
<nz-table #basicTable
  [nzData]="dataTable"
  [nzPageSize]="10"
  >
    <thead>
      <tr>
        <th>Descripción</th>
        <th>Cantidad</th>
        <th>Igv</th>
        <th>Precio unitario</th>
        <th>Total</th>
        <th>Acción</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data; let i=index">
        <td>{{ data.product.name }}</td>
        <td>{{ data.amount}}</td>
        <td>{{ data.igv }}</td>
        <td>{{ data.price }}</td>
        <td>{{ data.purchase_price }}</td>
        <td>
          <a>Borrar</a>
        </td>
      </tr>
    </tbody>
</nz-table>