<div nz-row class="card-header" nzJustify="start">
    <div nz-col nzSpan="3">
        <img src="./assets/img/logo.png">
    </div>
    <div nz-col nzSpan="4">
        <p>
            Perú, Lima
        </p>
        <p>
            {{currentUser.email}}
        </p>
    </div>
</div>

<nz-card nzTitle="Documento de devolución">
    <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
    	<div nz-col class="gutter-row" nzSpan="10">
            <div nz-row [nzGutter]="16">
                <label>Motivo</label>
            </div> 
            <div nz-row [nzGutter]="16">

	            <nz-select
	            nzPlaceHolder="Seleccione proveedor"
	            nzAllowClear
	            nzShowSearch
	            nzServerSearch
	            [(ngModel)]="selectedReason"
	            (nzOnSearch)="onSearchReason($event)"
	        	>
		            <ng-container *ngFor="let o of reasonList">
		            <nz-option [nzValue]="o" [nzLabel]="o.name"></nz-option>
		            </ng-container>
		        </nz-select>
	    	</div>
        </div>
        <div nz-col class="gutter-row" nzSpan="4">
        	<div nz-row [nzGutter]="16">
	        	<label>Fecha emisión</label>
	        </div>
	       	<div nz-row [nzGutter]="16">
	        	<nz-date-picker [(ngModel)]="date"></nz-date-picker>
	        </div>
        </div>
        <div nz-col class="gutter-row" nzSpan="8">
            <label>Observación</label>
            <input nz-input [(ngModel)]="observation"/>
        </div>
    </div>
</nz-card>
<div nz-row class="row-comprobante-form">
    <button nz-button nzType="primary" (click)="isVisibleModal=true" nzDanger>Agregar producto</button>
</div>
<nz-table #basicTable
  [nzData]="dataTable"
  [nzPageSize]="10"
  >
    <thead>
      <tr>
        <th>Descripción</th>
        <th>Cantidad</th>
        <th>Acción</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data; let i=index">
        <td>{{ data.product_name }}</td>
        <td>{{ data.amount}}</td>
        <td>
          <a (click)="deleteProduct(i)">Borrar</a>
        </td>
      </tr>
    </tbody>
</nz-table>
<div nz-row class="row-comprobante-form">
    <nz-space [nzSize]="'middle'">
        <button *nzSpaceItem nz-button nzType="link" routerLink="/inventario/devoluciones">Cerrar</button>
        <ng-container *ngIf="dataTable.length > 0">
            <button *nzSpaceItem nz-button nzType="primary" (click)="save()">Generar</button>
        </ng-container>
      </nz-space>
</div>
<nz-modal
    [(nzVisible)]="isVisibleModal"
    nzTitle="Agregar productos/servicios"
    nzCentered
    (nzOnCancel)="handleCancel()"
    (nzOnOk)="handleOk()"
>
    <ng-container *nzModalContent>
        <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
            <div nz-col class="gutter-row" nzSpan="18">
                <label>Producto o servicio</label>
                <nz-select
                nzPlaceHolder="Seleccione producto/servicio"
                nzAllowClear
                nzShowSearch
                nzServerSearch
                [(ngModel)]="selectedProduct"
                (nzOnSearch)="onSearchProduct($event)"
                >
                    <ng-container *ngFor="let o of productList">
                        <nz-option [nzValue]="o" [nzLabel]="o.name"></nz-option>
                    </ng-container>
                </nz-select>
            </div>
            <div nz-col class="gutter-row" nzSpan="6">
                <label>Cantidad</label>
                <input nz-input (input)="productDetail['amount'] = $event"/>
            </div>
        </div>
    </ng-container>
</nz-modal>
<nz-modal
    [(nzVisible)]="isConfirmed"
    nzCentered
    nzOkText="Ir al listado"
    nzCancelText="Nueva devolución"
    (nzOnOk)="navigateTo()"
    (nzOnCancel)="handleCancelConfirm()"
    >
    <nz-result
      nzStatus="success"
      nzTitle="Documento generado exitosamente!"
      nzSubTitle="Exportar archivo como ..."
    >
      <div nz-result-extra>
        <button nz-button nzType="primary">PDF</button>
        <button nz-button>EXCEL</button>
      </div>
    </nz-result>
</nz-modal>