<div nz-row class="card-header" nzJustify="start">
    <div nz-col nzSpan="3">
        <img src="./assets/img/logo.png">
    </div>
    <div nz-col nzSpan="4">
        <p>
            Perú, Lima
        </p>
        <p>
            {{currentUser.email}}
        </p>
    </div>

  </div>

<nz-card nzTitle="Nuevo comprobante">

    <div nz-row style="margin-top: 25px" [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
        <div nz-col class="gutter-row" nzSpan="10">
            <div nz-row [nzGutter]="16">
                <label>Cliente</label>
            </div>
            <div nz-row [nzGutter]="16">
                <nz-select
                    nzPlaceHolder="Seleccione cliente"
                    nzAllowClear
                    nzShowSearch
                    nzServerSearch
                    [(ngModel)]="selectedUser"
                    (nzOnSearch)="onSearchCliente($event)"
                >
                    <ng-container *ngFor="let o of clientList">
                    <nz-option [nzValue]="o" [nzLabel]="o.fullName"></nz-option>
                    </ng-container>
                </nz-select>
            </div>
        </div>
        
        <div nz-col class="gutter-row" nzSpan="8">
            <div nz-row [nzGutter]="16">
                <label>Moneda</label>
            </div>
            <div nz-row [nzGutter]="16">
                <nz-select
                nzPlaceHolder="Seleccione moneda"
                nzAllowClear
                [(ngModel)]="model['coin']"
                >
                    <ng-container *ngFor="let o of coinList">
                        <nz-option [nzValue]="o" [nzLabel]="o.name"></nz-option>
                    </ng-container>
                </nz-select>
            </div>
        </div>
        
    </div>
    <div nz-row style="margin-top: 25px" [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
        
        <div nz-col class="gutter-row" nzSpan="6">
            <div nz-row [nzGutter]="16">
                <label>Fecha emisión</label>        
            </div>
            <div nz-row [nzGutter]="16">
                <nz-date-picker [(ngModel)]="date" (ngModelChange)="getExchange($event)"></nz-date-picker>        
            </div>
        </div>
        <div nz-col class="gutter-row" nzSpan="6">
            <div nz-row [nzGutter]="16">
                <label>Tasa de cambio</label>
            </div>
            <div nz-row [nzGutter]="16">
                <input nz-input [(ngModel)]="exchange_rate" [disabled]="true" />
            </div>
        </div>

        <div nz-col class="gutter-row" nzSpan="6">
            <div nz-row [nzGutter]="16">
                <label>Fecha Vcto.</label>
            </div>
            <div nz-row [nzGutter]="16">
                <nz-date-picker required [(ngModel)]="model['expiration_date']"></nz-date-picker>        
            </div>
        </div>

        <div nz-col class="gutter-row" nzSpan="6">
            <div nz-row [nzGutter]="16">
                <label>Fecha entrega</label>
            </div>
            <div nz-row [nzGutter]="16">
                <nz-date-picker required [(ngModel)]="model['delivery_date']"></nz-date-picker>
            </div>
        </div>
    </div>
    <div nz-row style="margin-top: 25px" [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
        <div nz-col class="gutter-row" nzSpan="6">
            <div nz-row [nzGutter]="16">
                <label>Vendedor</label>
            </div>
            <div nz-row [nzGutter]="16">
                <nz-select
                nzPlaceHolder="Seleccione vendedor"
                nzAllowClear
                [(ngModel)]="model['seller_id']"
                >
                    <ng-container *ngFor="let o of sellerList">
                        <nz-option [nzValue]="o.id" [nzLabel]="o.name"></nz-option>
                    </ng-container>
                </nz-select>
            </div>
        </div>
        <div nz-col class="gutter-row" nzSpan="6">
            <div nz-row [nzGutter]="16">
                <label>Método de pago</label>
            </div>
            <div nz-row [nzGutter]="16">
                <nz-select
                nzPlaceHolder="Seleccione vendedor"
                nzAllowClear
                [(ngModel)]="model['payment_method_id']"
                >
                    <ng-container *ngFor="let o of paymentMethodList">
                        <nz-option [nzValue]="o.id" [nzLabel]="o.name"></nz-option>
                    </ng-container>
                </nz-select>
            </div>
        </div>
        <div nz-col class="gutter-row" nzSpan="12">
            <div nz-row [nzGutter]="16">
                <label>Dirección de envío</label>
            </div>
            <div nz-row [nzGutter]="16">
                <input nz-input [(ngModel)]="model['address']">
            </div>
        </div>
    </div>
    <div nz-row style="margin-top: 25px" [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
        <div nz-col class="gutter-row" nzSpan="12">
            <div nz-row [nzGutter]="16">
                <label>Observación</label>
            </div>
            <div nz-row [nzGutter]="16">
                <input nz-input [(ngModel)]="model['observation']">
            </div>
        </div>
    </div>
</nz-card>
<div nz-row class="row-comprobante-form">
    <button nz-button nzType="primary" (click)="isVisibleMiddle = true" nzDanger>Agregar producto</button>
</div>
<nz-table #basicTable
  [nzData]="dataTable"
  [nzPageSize]="10"
  >
    <thead>
      <tr>
        <th>Descripción</th>
        <th>Cantidad</th>
        <th>Precio</th>
        <th>IGV</th>
        <th>Total</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data; let i=index">
        <td>{{ data.description }}</td>
        <td>{{ data.amount}}</td>
        <td>{{ data.price }}</td>
        <td>{{ data.igv }}</td>
        <td>{{ data.total }}</td>
        <td>
          <a (click)="deleteProduct(i)">Delete</a>
        </td>
      </tr>
    </tbody>
</nz-table>
<div nz-row *ngIf="dataTable.length > 0 && currentCoin" class="row-comprobante-form">
    <h2>Total a pagar: {{currentCoin}} {{total}}</h2>
</div>
<div nz-row class="row-comprobante-form">
    <nz-space [nzSize]="'middle'">
        <button *nzSpaceItem nz-button nzType="link" routerLink="/ventas/pedidos">Cerrar</button>
        <ng-container *ngIf="dataTable.length > 0">
            <button *nzSpaceItem nz-button nzType="primary" (click)="save()">Generar</button>
        </ng-container>
      </nz-space>
</div>

<nz-modal
    [(nzVisible)]="isVisibleMiddle"
    nzTitle="Agregar productos/servicios"
    nzCentered
    (nzOnCancel)="handleCancelMiddle()"
    (nzOnOk)="handleOkMiddle()"
>
    <ng-container *nzModalContent>
        <div nz-row class="row-comprobante-form">
            <div nz-col nzSpan="14">
                <label>Producto o servicio</label>
                <nz-select
                nzPlaceHolder="Seleccione producto/servicio"
                nzAllowClear
                nzShowSearch
                nzServerSearch
                [(ngModel)]="selectedProduct"
                (nzOnSearch)="onSearchProduct($event)"
                >
                    <ng-container *ngFor="let o of productList">
                        <nz-option [nzValue]="o" [nzLabel]="o.name"></nz-option>
                    </ng-container>
                </nz-select>
            </div>
            <div nz-col nzSpan="6">
                <label>IGV</label>
                <input nz-input (input)="productDetails['igv'] = $event" [disabled]="true"/>
            </div>
        </div>
    <div nz-row class="row-comprobante-form">
        <div nz-col nzSpan="6">
            <label>Cantidad</label>
            <input nz-input (input)="productDetails['amount'] = $event"/>
        </div>
        <div nz-col nzSpan="6">
            <label>Precio</label>
            <input nz-input (input)="productDetails['price'] = $event"/>
        </div>
    </div>
    </ng-container>
</nz-modal>
<nz-modal
    [(nzVisible)]="isConfirmed"
    nzCentered
    nzOkText="Ir al listado"
    nzCancelText="Nuevo pedido"
    (nzOnOk)="navigateTo()"
    (nzOnCancel)="handleCancelConfirm()"
    >
    <nz-result
      nzStatus="success"
      nzTitle="Comprobante generado exitosamente!"
      nzSubTitle="Exportar archivo como ..."
    >
      <div nz-result-extra>
        <button nz-button nzType="primary">PDF</button>
        <button nz-button>EXCEL</button>
      </div>
    </nz-result>
</nz-modal>

<nz-modal
    [(nzVisible)]="isVisibleMiddle"
    nzTitle="Agregar productos/servicios"
    nzCentered
    (nzOnCancel)="handleCancelMiddle()"
    (nzOnOk)="handleOkMiddle()"
>
    <ng-container *nzModalContent>
        <div nz-row class="row-comprobante-form">
            <div nz-col nzSpan="14">
                <label>Producto o servicio</label>
                <nz-select
                nzPlaceHolder="Seleccione producto/servicio"
                nzAllowClear
                nzShowSearch
                nzServerSearch
                [(ngModel)]="selectedProduct"
                (nzOnSearch)="onSearchProduct($event)"
                >
                    <ng-container *ngFor="let o of productList">
                        <nz-option [nzValue]="o" [nzLabel]="o.name"></nz-option>
                    </ng-container>
                </nz-select>
            </div>
            <div nz-col nzSpan="6">
                <label>IGV</label>
                <input nz-input (input)="productDetails['igv'] = $event" [disabled]="true"/>
            </div>
        </div>
    <div nz-row class="row-comprobante-form">
        <div nz-col nzSpan="6">
            <label>Cantidad</label>
            <input nz-input (input)="productDetails['amount'] = $event"/>
        </div>
        <div nz-col nzSpan="6">
            <label>Precio</label>
            <input nz-input (input)="productDetails['price'] = $event"/>
        </div>
        <div nz-col nzSpan="6">
            <label>Total</label>
            <input nz-input (input)="productDetails['total'] = $event" [disabled]="true" />
        </div>
    </div>
    </ng-container>
</nz-modal>