<div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
    <div nz-col class="gutter-row" [nzSpan]="14">
      <div class="inner-box">
        <h1>Listado movimientos</h1>
      </div>
    </div>
    <div nz-col nzSpan="2"></div>
    <div nz-col class="gutter-row" [nzSpan]="6"><div class="inner-box">
      <div class="inner-box">
        <nz-space [nzSize]="'middle'">
          <button *nzSpaceItem nz-button nzType="primary" nzDanger>Exportar</button>
          <button *nzSpaceItem nz-button nzType="default" (click)="handleFilter()">Filtro</button>
        </nz-space>
      </div>
    </div>
  </div>
  
<div nz-row style="padding: 10px" *ngIf="showFilter">
  <div style="margin-left: 40px; margin-right: 10px;" nz-col class="gutter-row" [nzSpan]="16">
    <div class="inner-box">
      <label>Establecimiento</label>
      <input nz-input (keyup)="filterBy('name', $event)">
    </div>
  </div>
</div>
  <nz-table #basicTable
    [nzData]="dataTable"
    [nzPageSize]="20"
    [nzLoading]="isLoading"
    >
      <thead>
        <tr>
          <th>#</th>
          <th>Producto</th>
          <th>Almacén</th>
          <th>Stock</th>
          <th>Acción</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td>{{ data.id }}</td>
          <td>{{ data.description }}</td>
          <td>{{ data.almacen }}</td>
          <td>{{ data.stock_value }}</td>
          <td>
            <a (click)="transfer(data)">Trasladar</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a (click)="delete(data.id)">Remover</a>
          </td>
        </tr>
      </tbody>
  </nz-table>
  <nz-modal
    [(nzVisible)]="showTransferModal"
    nzTitle="Traslado entre almacenes"
    [nzWidth]="800"
    (nzOnCancel)="handleCancelStock()"
    (nzOnOk)="handleOkStock()"
    nzCentered
>
    <ng-container *nzModalContent>
        <div nz-row>
            <div nz-col nzSpan="14">
              <label>Producto</label>
              <input nz-input [(ngModel)]="selectedItem['description']"/>
            </div>
            <div nz-col nzSpan="8">
              <label>Cantidad actual</label>
              <input nz-input [(ngModel)]="selectedItem['stock_value']"/>
            </div>
        </div>
        <div nz-row style="padding-top: 15px">
            <div nz-col nzSpan="14">
              <label>Almacén inicial</label>
              <input nz-input [(ngModel)]="selectedItem['almacen']"/>
            </div>
            <div nz-col nzSpan="8">
              <label>Cantidad a trasladar</label>
              <input nz-input [(ngModel)]="selectedItem['amount']"/>
            </div>
        </div>
        <div nz-row style="padding-top: 15px">
            <div nz-col nzSpan="24">
              <div>
                <label>Almacén final</label>              
              </div>
              <div>

                <nz-select
                nzPlaceHolder="Seleccione almacén"
                nzAllowClear
                [(ngModel)]="selectedItem['to_warehouse_id']"
                >
                    <ng-container *ngFor="let o of warehouseList">
                        <nz-option [nzValue]="o.id" [nzLabel]="o.description"></nz-option>
                    </ng-container>
                </nz-select>
              </div>
            </div>
        </div>
    </ng-container>
</nz-modal>
