<div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
    <div nz-col class="gutter-row" [nzSpan]="14">
      <div class="inner-box">
        <h1>Listado de usuarios</h1>
      </div>
    </div>
    <div nz-col nzSpan="2"></div>
    <div nz-col class="gutter-row" [nzSpan]="6"><div class="inner-box">
      <div class="inner-box">
        <nz-space [nzSize]="'middle'">
          <button *nzSpaceItem nz-button nzType="primary" nzDanger>Exportar</button>
          <button *nzSpaceItem nz-button nzType="primary">Agregar</button>
          <button *nzSpaceItem nz-button nzType="default">Filtro</button>
        </nz-space>
      </div>
    </div>
</div>
<nz-table #basicTable
  nzTableLayout="fixed"
  [nzData]="dataTable"
  [nzPageSize]="15"
  [nzLoading]="isLoading"
  >
    <thead>
      <tr>
        <th>#</th>
        <th>Nombre/Razón social</th>
        <th>Apellidos</th>
        <th>Número</th>
        <th>Correo</th>
        <th>Teléfono</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{ data.id }}</td>
        <td>{{ data.name }}</td>
        <td>{{ data.last_name }}</td>
        <td>{{ data.document_number }}</td>
        <td>{{ data.email }}</td>
        <td>{{ data.phone }}</td>
        <td>
          <a>Editar</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a>Borrar</a>
        </td>
      </tr>
    </tbody>
</nz-table>

